[2016-10-23 16:28] mxstbr opened #1 "Interpolations mess with source map"
This will (incorrectly) report the indentation error to be on line 2 instead of 3.

[code]

This is because we remove lines with interpolations, but don't account for them in the source maps fixing. This might need significant restructuring of the internals to fix. 😕

[2016-10-25 02:12] davidtheclark commented on #1
Could you elaborate on what you mean by this? I don't think I understand.

One possibility to keep in mind, in case it's relevant, is that you could "blur" interpolated values — replace the characters with some innocuous character — so they are are unlikely to mess up stylelint but will still occupy the same number of characters. We use this hacky trick in stylelint sometimes to deal with SCSS int

[2016-10-25 06:32] mxstbr commented on #1
The problem is that you can interpolation _anything_, from a `css` fragment to a simple property:

[code]

So blurring is really hard, because you essentially cannot know what to put into those interpolations.

----

Right now I literally just cut out the lines with interpolations before sending the string to stylelint, i.e. this:

[code]

becomes this CSS for stylelint:

[code]

(the interpolatio

[2016-10-25 11:59] samit4me opened #4 "Experiencing errors on valid CSS"
I am experiencing error from `stylelint` that I am not expecting. It probably has something to do with my setup, but not sure what else to try. I've had the same issue on both Win10 and macOS both with node 6.6.0.

Linting seems to work well for basic styles, example:

[code]

But If I use something like interpolation it seems to break, example:

[code]

OR

[code]

I have also experienced other e

[2016-10-25 12:10] davidtheclark commented on #1
How about not telling stylelint what's in the interpolation? What you would "blur" would be the interpolation itself `${..}` — the `$`, `{}`, and everything between the brackets.

In fact, you might not even need to "blur", because those interpolations look kind of like SCSS variables, and *stylelint rules are built to ignore SCSS variables*. So in your example above, try just leaving `${color}` a

[2016-10-25 13:50] mxstbr commented on #4
Thank you for providing a reproduction, this is highly likely on our side – as mentioned, this is very much in alpha and we're still trying to figure out exactly what to do in which real-world cases! I'll take a look soon!

[2016-10-25 17:26] mxstbr commented on #1
Hmm, I tried that in the [`leave-interpolations`](https://github.com/styled-components/stylelint-processor-styled-components/tree/leave-interpolations) branch, but stylelint throws this error:

[code]

When it sees this CSS:

[code]

Any ideas what I'm doing wrong?

[2016-10-25 19:52] davidtheclark commented on #1
@mxstbr Need to run stylelint with SCSS syntax: `stylelint --syntax scss`. Give that a shot.

[2016-10-26 06:12] mxstbr commented on #1
Hah, that works for simple cases (like `${color}`) if I remove the `{}`! Let me try some more complex examples, but I like where this is going 👌

[2016-10-26 06:21] mxstbr commented on #1
It works for complex cases too (those just return `undefined`, which is totally fine) – I think we have a winner here, this works perfectly so far! I'll merge and ship this in a new version!

[2016-10-26 06:58] mxstbr commented on #1
Awesome, got it working! Thanks!

[2016-10-26 06:58] #1 closed

[2016-10-26 07:02] mxstbr commented on #4
I just published v0.0.4 that should fix a lot of these errors, would you mind trying it again?

[2016-10-26 07:14] mxstbr commented on #4
Okay, I think this is fixed in `stylelint-processor-styled-components@0.4` – can you try using that? You'll also need to set `syntax` to `"scss"` in your `.stylelintrc`!

[2016-10-26 09:06] samit4me commented on #4
Updated both `stylelint-processor-styled-components@0.0.4` and `styled-components@1.0.9` and added `"syntax": "scss"` to `.stylelintrc` but unfortunately, I did not see any change when running `npm run lint:css`. It feels like I am missing something here and I get the feeling it will be embarrassing when I find out what, but at the moment I have no idea what it is!

Do you have this working with a

[2016-10-26 13:18] davidtheclark commented on #1
@mxstbr: Fantastic. Since stylelint tries to deal with a variety of non-standard syntaxes, there are always bound to be little bugs that pop up here and there when people do something especially complex (e.g. SCSS equations with variables inside interpolation etc etc). So if these bugs start popping up for this tool, please encourage users to help stylelint figure out what little tweak needs to be

[2016-10-26 13:50] mxstbr commented on #1
Thank you so much for your processor and the help, would not have gotten this done without you!

[2016-10-26 13:51] mxstbr commented on #4
I haven't pushed it yet. Let me clone your repo and try to find the issue!

[2016-10-27 10:34] mxstbr opened #6 "Breaks on complex interpolations"
Currently, this breaks on a complex interpolation:

[code]

We represent this for stylelint like so:

[code]

The problem is that, while stylelint ignores Sass variables, those cannot represent full strings, which means stylelint throws a "CssSyntaxError" on the above code eventhough it's not a syntax error at all. 😕

Any ideas what we could do here @davidtheclark?

(also related to #4)

[2016-10-27 10:38] mxstbr commented on #4
Got it, see #6! Will fix soon! (and the `Circle` testcase in #7)

[2016-10-27 11:11] davidtheclark commented on #6
@mxstbr: Hm. Given the absolute flexibility of template string interpolation there is no way that this situation will not arise for some people doing wacky things. For example, you could `@med${media-last-letters} ${min-opener}-width: 40px)`. I think it's worth making some recommendations in the documentation about interpolation practices.

Another possibility is to go back to the "blur" idea. Ins

[2016-10-27 11:23] mxstbr commented on #6
I like that idea! Going to try that now

[2016-10-27 11:32] Munter commented on #6
Won't this be a certain linting error? You assigned no value
[code]

[2016-10-27 11:56] davidtheclark commented on #6
@Munter: PostCSS parses it, so it should be fine.

[2016-10-27 11:56] mxstbr commented on #6
Not getting a linting error on that ¯\_(ツ)_/¯ (see the `fix-interpolations` branch)

[2016-10-27 12:13] mxstbr commented on #6
God dammit, this breaks in this case:

[code]

which gets correctly replaced and sends stylelint this CSS:

[code]

But then stylelint complains

[code]

Any ideas how we could solve this?

[2016-10-27 12:52] davidtheclark commented on #6
That looks like it may be a bug in the rule, because there is in fact no space before that parenthesis.

[2016-10-31 10:52] mxstbr commented on #6
Bug is now fixed in stylelint, thanks to @davidtheclark!

[2016-10-31 10:53] mxstbr commented on #4
Can you try again now, with the newest version of `stylelint` and the processor?

[2016-10-31 18:43] samit4me commented on #4
Installed the latest versions which made a difference, but I think I now get more errors, see [stylelintOutput.txt](https://github.com/samit4me/create-react-app-with-styled-components/blob/master/stylelintOutput.txt).

I'm not 100% what has changed as `stylelint-processor-styled-components` version number appears to be the same `0.0.4` so unable to rollback the version. Now that stylelintOutput is

[2016-10-31 19:23] mxstbr commented on #4
All of these except for the `Unknown word   CssSyntaxError` errors are actual linting errors and you should fix them 😉 can you show me the source of the two files that throw the CSSSyntaxError?

[2016-10-31 20:00] samit4me commented on #4
To give some background:
_I could not get my `styled-components` to lint correctly, so I look into the source of this repository and seen which test "should" pass and which "should" fail. I then took a copy of the [test fixtures from this repository](https://github.com/styled-components/stylelint-processor-styled-components/tree/master/test/fixtures) and put them into my [mock repo](https://github

[2016-11-01 06:42] mxstbr commented on #4
Ah, thank you, that's very helpful, now I get it! Will take a look soon!

[2016-11-13 00:15] esphen commented on #6
Still seeing `Unknown word: CssSyntaxError` with 0.0.4 on a simple example like this:

[code]

Any update?

[2016-11-13 07:57] mxstbr commented on #6
Not yet, haven't come around to working on this again. Let me take a look at it on Monday, thanks for providing the tiny repro, much appreciated!

If you want to look into it, you can add a new file to our test fixtures with your repo, copy some of the tests and submit a PR with the failing tests. That'd be really helpful!

[2016-11-22 00:12] geniusgordon opened #9 "Expected empty line between multiple components"
I'm getting a **rule-non-nested-empty-line-before** error when I have multiple components in one file

I've got a file like this

[code]

and got this error
[code]

I've console.log the extractedCSS and it looks like this
[code]

I'm using:
* stylelint-config-standard@15.0.0
* stylelint-processor-styled-components@0.0.4
* stylelint@7.6.0

[2016-11-23 08:50] davidctj opened #10 "WebStorm 2016.3 .styleLintrc... works?"
WebStorm recently released a version which support styleLint, and then I do the same step as mentioned on the homepage styleLint, but it is not working, here's the error:
[code]

So, is someone working on intellij/webstorm plugin for that?

[2016-11-29 13:44] Pajn opened #12 "Typescript support"
I don't know how feasible it is but thought that I should put it out here.
It would be awesome with Typescript support.

[2016-12-06 01:20] gihrig commented on #6
Short of a permanent fix, would it be possible to support style lint disable comments?

e.g.
`/* stylelint-disable-line */`

or better still, disable single rules:
`/* stylelint-disable-line CssSyntaxError */`

[2016-12-06 09:14] mxstbr commented on #6
That should already work I think @gihrig

[2016-12-06 17:26] gihrig commented on #6
From RBP `component/Button/A.js`

[code]
![image](https://cloud.githubusercontent.com/assets/1481063/20935955/ad58283e-bb95-11e6-84db-2b73a886d692.png)

Also tried `/* stylelint-disable */` at top of file.

[2016-12-07 03:55] gihrig commented on #6
Noticing that `/* stylelint-disable-line CssSyntaxError */` is outside the template literal, I also tried this:

[code]

Same result, a `CssSyntaxError`.

[2016-12-07 05:25] mxstbr commented on #6
I think `CssSyntaxError`s can't be ignored, since they're not rule issues but parsing errors that you can't just ignore.

[2016-12-07 07:02] gihrig commented on #6
Yeah, that makes sense. Bummer 😞

[2016-12-16 16:24] schickling commented on #12
Not sure if this is related to Typescript (which we're using) but I'm getting the following error:

![image](https://cloud.githubusercontent.com/assets/1567498/21269809/806e56f0-c3b4-11e6-9948-dd78e9e2c21d.png)

[2016-12-27 15:02] joggienl commented on #9
As a workaround it could help to add an additional rule to your .stylelintrc file:

[code]

There are more options for this available. See here: http://stylelint.io/user-guide/rules/rule-non-nested-empty-line-before/

[2017-01-18 10:07] evenchange4 commented on #4
Run into the same problem here. Any update on this issue?

[2017-01-18 10:30] mxstbr commented on #4
None yet, sadly, haven't come around to fix this yet 😢 submitting a failing test case as a PR would be super helpful!

[2017-01-23 08:17] shripadk opened #13 "Unexpected unknown property (property-no-unknown)"
Not sure if this is related to #6 (please close if so) but it breaks with the following complex interpolation:

[code]

This is used for providing RTL support where the **dir** property can be set in `ThemeProvider` like so:

[code]

Stylelint throws the following error: _Unexpected unknown property "margin-$undefined" (property-no-unknown)_.

[2017-01-27 10:53] ZwaarContrast opened #15 "Atom support"
Quick question:

Is it possible to enable this package when using the linter-stylelint plugin for atom?

Installing this package allows me to run a command from the terminal, and it properly picks up styling in .js files, but it does not work with [https://atom.io/packages/linter-stylelint](Atom linter-stylelint plugin). Any ideas how to get this working?

If it's easy, it might be nice to include

[2017-01-30 14:59] ZwaarContrast commented on #4
Having the same issue as @samit4me

A Gist can be found over here: https://gist.github.com/ZwaarContrast/c0e344b201379601b0664d60fac0d6e9

I tried to create a generic Heading component where a tag prop determines as what html element the component renders. Any ideas how to do this otherwise?

[2017-01-30 18:44] mxstbr commented on #15
Not yet, see https://github.com/AtomLinter/linter-stylelint/issues/235

[2017-01-30 18:44] #15 closed

[2017-01-30 18:44] mxstbr commented on #15
Would be awesome if somebody could hack on that!

[2017-01-30 18:45] mxstbr commented on #13
Ah interesting, that's a bug that'll be interesting to fix! Mind submitting a PR with a failing test case? That'd be super helpful.

[2017-01-30 23:37] shripadk commented on #13
Have submitted a PR with failing test cases. Let me know if you need anything else :)

[2017-02-08 12:37] ErikCupal commented on #12
Hopefully in future https://github.com/babel/babylon/issues/320

[2017-02-15 09:00] meded90 commented on #10
https://github.com/styled-components/styled-components/issues/176

[2017-02-27 03:39] JulienHe opened #18 "Unknown word - CssSyntaxError on comment"
I just installed the stylelint for styled-component and run it.

I checked the documentation to see what's wrong with my code but can't figure it out.

This is the code I have in my project :

### package.json
[code]
...
[code]

### .stylelintrc
[code]

### style.js
[code]

### webpack
[code]

The comment looks like the one from the Stylelint documentation. Is it coming from this Github repo or fr

[2017-02-27 07:59] mediavrog commented on #18
The actual error
![screen shot 2017-02-27 at 16 58 49](https://cloud.githubusercontent.com/assets/160785/23353099/13114a20-fd0e-11e6-97f3-163c12204169.png)

[2017-03-02 21:39] mgtitimoli commented on #4
Hi everyone,

I came across with this issue recently, and I could isolate what is causing it, basically when there is only one interpolation within the template literal.

One example could be something like this:

[code]

Ignore the fact that I'm using `css` (it's the only way for Atom to detect that's a css construct), it also happens when using a simple template literal.

I haven't had enough ti

[2017-03-02 21:47] mgtitimoli commented on #18
Hi everyone,

I have just left [this comment](https://github.com/styled-components/stylelint-processor-styled-components/issues/4#issuecomment-283790544) in #4 that exposes at least one pattern that causes this issue.

[2017-03-03 18:13] chuanxie commented on #6
any update?

[2017-03-03 19:49] rainydio commented on #6
@chuanxie i've made a dirty fix and created pull request #17. It isn't really fixing complex interpolations. But creates a workaround.

[2017-03-03 23:05] chuanxie commented on #6
@rainydio awesome, at least it works. thanks a lot.  `-styled-mixin` it works

[2017-03-06 14:43] ismay commented on #9
@joggienl That doesn't fix it. Only way of getting rid of it for me is to turn it off completely:

[code]

[2017-03-19 18:47] emusgrave opened #19 "Interoperate with SublimeLinter?"
Does anyone know how to get this to operate with SublimeLinter-contrib-styelint? My guess is that it doesn't work out of the box because that package is only scanning CSS files, not JS/JSX.

[2017-03-21 12:08] HejdesGit commented on #18
Any progress on this?

[2017-03-30 20:39] funwithtriangles commented on #19
I'm having trouble also. Using SublimeLinter and [SublimeLinter-contrib-stylelint].(https://github.com/kungfusheep/SublimeLinter-contrib-stylelint)

Linting works fine as a script from `package.json` but nothing is happening with SublimeLinter. SublimeLinter doesn't throw any warnings but isn't doing anything. I think @emusgrave might be on to something with JS/CSS issue...

[2017-04-01 10:20] #6 closed

[2017-04-01 10:23] mxstbr commented on #19
Yep, this doesn't work right now :cry: I don't think there's anything from our side we can do here, please let the SublimeLinter people know!

[2017-04-01 10:23] #19 closed

[2017-04-01 10:42] mxstbr commented on #4
Just released v0.1.0 which should fix at least some of these issues (ref #17), can you try it with the new version?

[2017-04-04 08:02] TimeRaider opened #20 "Incorrectly fails on 2 or more consecutive template literals"
[code]
produces
`Missed semicolon   CssSyntaxError`

[2017-04-06 18:24] ismay opened #22 "Incorrectly exits with exit code 2 for only warnings"
Stylelint cli exits with exit code 2 for a run with only warnings (see [this build](https://travis-ci.org/ismay/ismaywolff.nl/builds/219376502#L560)) when using stylelint-processor-styled-components. After removing stylelint-processor-styled-components from the build chain, the process exits with 0, as expected.

Since removing the processing fixes the issue I'm suspecting that this lib is the cau

[2017-04-09 23:29] mgtitimoli commented on #4
It seems the error dissappeared, anyway I'm still experiencing some weird errors like this one:
![image](https://cloud.githubusercontent.com/assets/4404683/24841816/4239dedc-1d63-11e7-84ef-79ace11561fc.png)

[2017-04-17 10:44] ismay commented on #22
So this had me stumped for a while, but @evilebottnawi found the source of the problem. PR #23 addresses it, and for an example of the bug see: https://github.com/ismay/stylelint-test. Further discussion of this bug can also be found here: https://github.com/stylelint/stylelint/issues/2473. It was quite a tricky bug, since it incorrectly fails builds, but doesn't log any errors to the console.

[2017-04-20 00:51] samit4me commented on #4
Sorry for the delay in testing. I've just updated (see below for versions) and most of the errors are gone and only left with a single error, which may actually be my fault, can you confirm @mxstbr ???

`package.json`:

[code]

---
Errors:

[code]

`src/components/App/Img.js`:

[code]

`src/components/App/Intro.js`:

[code]

[2017-04-21 19:26] chaucerbao opened #24 "Support for `stylefmt` to automatically fix lint errors"
I know this is still in early alpha stages, but I wanted to see what you thought about eventually adding support for [stylefmt](https://github.com/morishitter/stylefmt) to automatically fix stylelint errors.

[2017-04-26 14:58] Gautierrr opened #26 "Don't prefix injectGlobal with a selector"
This code...
[code]

... with `selector-max-compound-selectors` rule set to `1` returns this validation issue
[code]

[2017-04-26 21:49] chaucerbao commented on #9
Maybe `rule-empty-line-before` should be added to the [list of ignored rules](https://github.com/styled-components/stylelint-processor-styled-components/blob/master/src/index.js#L21-L26).

[2017-04-27 08:02] linonetwo opened #27 "Linting .css files"
Seems stylelint-processor-styled-components will cause stylelint fail in .css file

[code]

[2017-04-27 12:38] ismay commented on #9
@chaucerbao Actually the list of ignored rules should be removed completely. See this pr: https://github.com/styled-components/stylelint-processor-styled-components/pull/23. As I understand it, this lib modifies the Result passed to stylelint, which can lead to swallowed errors that still cause stylelint to exit with an error code: https://github.com/styled-components/stylelint-processor-styled-co

[2017-04-27 12:43] ismay commented on #9
@mxstbr If you need help with this repo I'd be happy to. Let me know if I can do anything!

[2017-05-02 11:57] mkhazov commented on #4
same here: `Expected empty line before rule   rule-empty-line-before`

[2017-05-09 02:21] rajkuldip commented on #9
Below doesn't seems working
`
"rules": {
    "rule-empty-line-before": 0
  }
`
It gives this error:
`Invalid Option: Invalid option value "0" for rule "rule-empty-line-before"`

[2017-05-09 04:59] ismay commented on #9
@rajkuldip This is the way I'm using it: https://github.com/ismay/ismaywolff.nl/blob/develop/.stylelintrc I'm also on 7.10.1

[2017-05-18 21:35] NameFILIP commented on #9
[code]

[2017-05-21 22:59] rajkuldip commented on #9
@ismay  - Thank you for your response.

@NameFILIP: Thanks, mate. This solution just works fine.

[2017-05-22 09:35] JonWallsten commented on #27
Same here:
[code]
Unfortunately no source file. So I don't know where to fix this.

[2017-05-22 10:00] mxstbr commented on #26
Ah crap, need to add a special case for `injectGlobal`!

[2017-05-22 10:03] mxstbr commented on #4
The newline issue is tracked in #9!

[2017-05-22 10:03] #4 closed

[2017-05-22 10:07] mxstbr commented on #27
@linonetwo Are you running this processor on a `.css` file? That probably won't work and is nothing we can support I don't think?

@JonWallsten your issue is that you're using `TypeScript`, but we're using Babylon for parsing which doesn't support Typescript 😢

[2017-05-22 10:08] mxstbr commented on #27
I'll mark this as wontfix since you shouldn't run this processor when linting `.css` files, but maybe there's something I'm missing here!

[2017-05-22 10:08] #27 closed

[2017-05-22 21:03] ismay commented on #9
@mxstbr Thanks for the add 👍  I'll try to help fix some issues this week 🎉 🎉

[2017-05-26 11:56] ismay commented on #24
I think that's outside of the scope of a stylelint processor. From the docs:

So basically this plugin makes your styled-components' css lintable with stylelint, and it makes sure that the line / column numbers are transformed back to the correct location for any errors. It isn't replacing any styles.

You might be able to use this plugin as an intermediary somehow though, but I'd say that that ap

[2017-05-26 12:11] ismay commented on #24
I'll close this since I'd say it's out of scope for this package. Please let me know if you (or anyone else) feel otherwise or have any questions!

[2017-05-26 12:11] #24 closed

[2017-05-31 15:14] ismay commented on #12
Is that something that should be solved in this processor though? It would be more straightforward if we could keep this processor agnostic of any static typing the user might be using.

[2017-06-04 14:31] #22 closed

[2017-06-06 15:46] gcazaciuc commented on #12
Did a PR to address this issue. I've taken the same approach as Prettier JS relying on typescript-eslint-parser to convert the Typescript AST to Estree AST.

[2017-06-12 13:47] #12 closed

[2017-06-12 14:06] mxstbr commented on #12
What a great PR, thank you so much @gcazaciuc! 😍

Released in v0.1.1 👌

[2017-06-12 15:20] corbanbrook opened #32 "Requires typescript in non typescript project"
Running this plugin on a non typescript problem yielded the following error

[code]

Installing typescript fixes the problem but it should not be required on a non typescript project.

[2017-06-12 15:28] ismay commented on #32
@corbanbrook You're right, apologies. It's because it's listed as a devDependency but should be in the regular deps. I'll fix it rightaway.

[2017-06-12 15:57] corbanbrook opened #34 "Doesn't properly handle contextual selectors"
Causes errors to trigger when using contextual selectors like `${Button}`

ie.
[code]

[code]

[2017-06-12 16:27] #32 closed

[2017-06-12 16:32] ismay commented on #34
Thanks for the bug report! It would be great if you could submit a PR with a failing test for this. Otherwise I'll try to fix it myself asap.

[2017-06-13 12:45] nathggns commented on #20
+1

[2017-06-14 10:11] monsieurnebo opened #35 "Selector-class-pattern error everywhere since 1.0.2"
After bumping from `v1.0.0` to `v1.0.2`, stylelint got mad and give us over 9000 errors like these:

[code]

I didn't find any changelog --> have you any information about this?

[2017-06-14 10:33] ismay commented on #35
I assume you mean 0.1.0 to 0.1.2. There have been a couple of changes, but I think what's affecting you is probably:

* https://github.com/styled-components/stylelint-processor-styled-components/commit/30a5f0ad1d7bc9b899a46582de1b7713a60f21d5
* https://github.com/styled-components/stylelint-processor-styled-components/commit/0f9e14615b7cc66319a47be25661c69e44b536f0

Of course, stylelint treats the

[2017-06-14 10:33] #35 closed

[2017-06-14 10:33] ismay opened #36 "Add changelog"

[2017-06-14 10:35] ismay opened #37 "Submit pr to add to stylelint processors"
https://stylelint.io/user-guide/processors/

[2017-06-14 10:54] ismay opened #38 "Readme missing note on typescript support"

[2017-06-14 11:00] ismay opened #39 "Update travis config"
Run version independent tests like linting, prettier etc. only on latest. Run unit tests on 6, 7 and 8.

[2017-06-14 11:03] ismay opened #40 "Update tooling"
- [ ] Add greenkeeper and greenkeeper-lockfile
- [x] Add prettier (#43, #44)
- [x] Add lintstaged (#43, #44)

[2017-06-14 11:24] #36 closed

[2017-06-14 11:53] #39 closed

[2017-06-14 12:29] ismay commented on #40
@mxstbr I've sent a request to add greenkeeper to this repo. I've used it on almost all of my projects and have had nothing but good experiences with. It'll run our ci tests for new versions of dependencies within our specified range, to test whether they're breaking anything. If so, it'll notify us.

And for updates outside of the range in package.json it'll open a pr. In my opinion a great way t

[2017-06-14 12:32] mxstbr commented on #40
Sure!

[2017-06-14 12:36] monsieurnebo commented on #35
Thank's for the explanation, I fixed the concerned rules.

Changelog and extended config should definitly help :)

[2017-06-14 13:04] ismay commented on #35
Great, happy it helped! Changelog is up btw.

[2017-06-14 13:06] ismay commented on #40
Cool, thanks!

[2017-06-14 14:52] ismay opened #45 "Add external stylelint config"
Which can be extended by users of this processor. It'll mean that we won't have to modify the stylelint result anymore, and that people can still override any of the rules we define (should they want to do so).

It'll need to be a separate library, but still needs to be linked to a particular release of this lib, so specifying the config as a peerDependency would probably be best.

Ref #9

[2017-06-14 14:56] ismay commented on #10
I'm not familiar with webstorm, but is there any reason that results for webstorm would vary from other usecases of this plugin (cli use of stylelint for example)? Because there shouldn't be any difference.

I suspect this is an issue related to webstorm, and not necessarily this plugin, but please correct me if I'm wrong.

[2017-06-14 15:37] mxstbr commented on #45
Should we maybe go for a `lerna` monorepo?

[2017-06-14 20:49] ismay commented on #45
Yeah that would be great. But unfortunately it wouldn't work with greenkeeper (https://github.com/greenkeeperio/greenkeeper/issues/139), for now at least.

I think to me greenkeeper outweighs the ease of having both projects in a monorepo. It would be a bit awkward, but I think the config would also require considerably less maintenance, so there wouldn't be a lot of switching.

But please feel fr

[2017-06-20 03:04] declanelcocks opened #46 "Process comments in template literal"
When writing styles which go beyond 10 or so lines, you may want to add in comments. Or you may just want to write a comment to explain to your team why you wrote a specific line. As far as I know the only way to do that inside a template literal is to do `${/* comment */''}`.

Using this processor, the comment will be processed as `undefined`, so when you have multiple comments in your style you

[2017-06-20 10:18] ismay commented on #46
Yes comments can definitely be necessary, but then you can just do this:

[code]

I'll close this since parsing js comments to css comments would be unnecessarily complex when you can just use css comments. However, it is unexpected that `${''}` is evaluated to `undefined`. I'll open a new issue for that. Thanks for reporting this and let me know if you have any other questions.

[2017-06-20 10:18] #46 closed

[2017-06-20 10:22] ismay opened #47 "Interpolation with empty string literal ${''} evaluates to undefined"
See #46

Example:

[code]

Second rule of the styles triggers `Unexpected duplicate "undefined" [declaration-block-no-duplicate-properties]` error.

[2017-06-20 10:24] ismay commented on #10
I'll close this due to inactivity and it seeming to be related to webstorm and not this library directly. But feel free to comment or let me know if it is directly related to this lib.

[2017-06-20 10:24] #10 closed

[2017-06-20 10:27] ismay commented on #45
https://github.com/styled-components/stylelint-config-styled-components-processor

[2017-06-20 10:37] ismay opened #48 "Fix urls in package.json"
Still point to the location of the old repo.

https://github.com/styled-components/stylelint-processor-styled-components/blob/master/package.json#L17

[2017-06-21 17:35] trevordmiller opened #50 "Add autofix support"
Currently running `stylelint --fix` doesn't effect styles defined in JS using styled-components. It would be awesome if this feature could be added :)

Thank you!

[2017-06-22 11:21] ismay commented on #50
Yeah that definitely would be awesome. But currently stylelint can't `--fix` styles in combination with a processor. See here: https://github.com/stylelint/stylelint/issues/2592

If in the future stylelint allows for this combination we could take a look at it.

[2017-06-22 11:21] #50 closed

[2017-06-26 12:02] linonetwo commented on #27
The problem is that I didn't run stylelint by myself, I just run it via vscode's plugin, so it will run it against all file I guess.

[2017-06-26 18:11] ravinggenius opened #51 "Expected indentation of 2 spaces"
### Note

I originally opened this as an [issue for stylelint](https://github.com/stylelint/stylelint/issues/2646), but they directed me over here. I have reproduced the issue below. I am using `stylelint-processor-styled-components` v0.1.2.

### Issue

I believe this is a bug. When linting [styled-components](https://www.styled-components.com/) styles inside a helper function, indentation is repo

[2017-06-26 18:18] ravinggenius commented on #51
If I remove the `css` from the template literal, the issue is not reported since the block is no longer recognized as a stylesheet fragment. Removing `css` also impedes my editor's ability to syntax highlight the styles.

[2017-06-29 13:05] ismay commented on #51
Thanks for reporting this. To speed up work on this it would be helpful if you could submit a PR with a failing testcase demonstrating this problem. If not we'll take care of it as well but it might take a bit longer. Thanks again for the report!

[2017-06-29 13:15] ismay commented on #18
I'll assume this is no longer an issue since #4 has been closed with the release of `0.1.0`.

If not please let me know and I'll reopen. In that case please submit a PR with a failing testcase demonstrating the problem. Otherwise we'll take care of it as well but it might take a bit longer.

[2017-06-29 13:15] #18 closed

[2017-06-29 20:58] ravinggenius commented on #51
I did the branch and everything locally, but I don't have the correct SSH keys on this computer, so I had to redo everything through GitHub's web interface, which is why I forgot the `css, ` bit and had to make a second commit to the branch.

[2017-06-30 12:40] ismay commented on #51
Awesome, thanks for the pr!

[2017-07-03 14:23] avdeev opened #54 "Strange errors with refering to other components"
[code]

[code]

[2017-07-03 14:42] ismay commented on #54
Seems like the interpolation might be messing up the source map. I think what it's expecting is:

[code]

Does that fix the error?

Also, why aren't you writing:

[code]

I've never seen anyone use the syntax that you're using here.

[2017-07-03 14:52] avdeev commented on #54
@ismay
+1 error

[code]

This is just an example. In place of $ {div} there could be a custom component

[2017-07-03 16:53] mxstbr commented on #54
Yeah we haven't built anything to support that newly introduced syntax yet, dang. We'll need to replace referenced components differently somehow...

[2017-07-05 16:45] avdeev opened #55 "Error declaration-block-no-duplicate-properties from rules with mixins only"
My code:
[code]

 7:3  ✖  Unexpected duplicate "undefined"   declaration-block-no-duplicate-properties

[2017-07-06 09:04] emilgoldsmith commented on #55
+1 I have a similar problem when I use the media example from the styled-components docs as such:

[code]

[2017-07-06 09:20] emilgoldsmith opened #56 "/* stylelint-disable */ doesn't work"
I am running the pure setup from the readme and due to #55 I want to temporarily disable the rule, but this doesn't seem to work either?

I admit this is also my first time using stylelint, but I have checked quite thoroughly and it seems that I'm doing everything right, and the most likely thing is that it's this parser causing trouble?

Here is my code that acts up with
[code]
:
[code]

[2017-07-06 09:23] ismay commented on #56
Hi @emilgoldsmith. The stylelint comments can only be picked up by stylelint if you put them with your css rules like so:

[code]

That should solve it.

[2017-07-06 09:23] #56 closed

[2017-07-06 09:29] emilgoldsmith commented on #56
Okay thanks, should I just submit a quick PR that adds that to the readme?

[2017-07-06 09:31] ismay commented on #56
@emilgoldsmith Ah yes that would be nice. Thanks!

[2017-07-06 14:32] emilgoldsmith opened #58 "Integration with webpack?"
Hey, are there any good solutions for integration with webpack yet? Can't find anything suitable online as it's all meant for scss etc.

Otherwise I might build one.

[2017-07-06 15:18] ismay commented on #58
Depends, what kind of integration are you looking for? You wont have to compile anything and linting can just be done from the commandline with stylelint.

[2017-07-06 19:38] emilgoldsmith commented on #58
I meant like `eslint-loader` so that it'll show up in webpack-dev-server when using hot-reload.

[2017-07-07 08:43] ismay commented on #58
I think this should do what you're looking for: https://www.npmjs.com/package/stylelint-webpack-plugin

[2017-07-07 08:45] #58 closed

[2017-07-07 08:49] ismay commented on #20
Closed in #52

[2017-07-07 08:49] #20 closed

[2017-07-07 09:20] ismay commented on #40
@mxstbr Seems I can't enable greenkeeper on this repo without admin rights. Would you mind enabling it under this repo's `settings` > `integrations & services` > `greenkeeper`? I can take care of the rest.

[2017-07-07 11:19] emilgoldsmith commented on #58
Yeah @ismay I looked at that one already and I feel like it's a quite unnatural implementation (of top of it not working at all for styled components as it looks for .css (or scss and the other extensions) files, not js). It's a plugin not a loader which means it kinda does something very separate from Webpack. I guess one could write a plugin that simply just runs something similar to the `yarn l

[2017-07-07 13:26] mxstbr commented on #40
Wait I thought I enabled it?

[2017-07-07 13:29] mxstbr commented on #40
There we go: https://github.com/styled-components/stylelint-processor-styled-components/pull/61

[2017-07-07 15:11] ismay commented on #58
Ah ok, I didn't take a thorough look, but yeah that's not helpful then.

Cool! Would be nice! Probably worth adding it to the docs here if you're publishing it.

[2017-07-08 06:51] emilgoldsmith commented on #58
That was also the plan! :).
As I was doing a bit of extra research for it I actually found a [deprecated package](https://github.com/adrianhall/stylelint-loader) that works exactly how I want it to though. I had first not tried it as it was deprecated a year ago and had just followed the links it gives, but now I've tried the two links it gives and both don't work for our purposes as they both ass

[2017-07-08 07:09] emilgoldsmith commented on #58
Though I also don't really like the way the deprecated package outputs errors and stuff.

But yeah I'll definitely look at it :)

[2017-07-08 09:12] #40 closed

[2017-07-08 09:32] emilgoldsmith opened #62 "Doesn't handle one-line css interpolations"
As I was checking the new merged code from #52 an edge case just popped into my mind. I already wrote breakings tests for it, just also wanted an issue to reference so I'll reference this issue as I push the new PR.

[2017-07-08 09:36] ismay commented on #62
Ah yeah, good catch. We're missing a couple of test cases looking at our coverage stats, seems like that's one of the cases we're still missing.

[2017-07-08 10:27] emilgoldsmith opened #64 "Support ignoring rules outside of TTL"
I know we closed #56, but I thought about it a bit and I think I could add support for it pretty simply.

You just use the already implemented babylon parser and then every time you hit a comment outside a TTL you check if it fits `/stylelint-(?:enable|disable)/` if it does you add it to an array, and every time you encounter a TTL you inject all the comments you pushed to the array to the top of

[2017-07-09 12:16] ismay commented on #64
@emilgoldsmith Hey, just wanted to let you know that I'm currently traveling, but I'll take a look at the pr's and issues asap.

[2017-07-09 14:08] emilgoldsmith commented on #64
@ismay no problem! Enjoy your travels, take your time :).

And thanks for the heads up, appreciate it :).

[2017-07-10 01:09] #55 closed

[2017-07-10 16:38] emilgoldsmith commented on #47
This is the same cause as #55 and should now be fixed.

[2017-07-10 16:38] #47 closed

[2017-07-10 16:44] emilgoldsmith commented on #34
This issue is heavily related to #54, bordering a duplicate. Will definitely be fixed by the same PR when it happens.

Also the first linting error should no longer be a problem due to #59, but the second one for sure.

[2017-07-10 17:25] emilgoldsmith opened #68 "How to fix all these interpolation edge cases?"
(first of all, hope it's all good I added a discussion label)

So, there are obviously heaps of interpolation edge cases, I think all issues labeled with `bug` other than #26 are currently due to this, and I listed 4 cases (some of them overlapping with already existing issues) in  the comments of #63. So I think we should have a bit of a discussion about how to fix this if you're up for it @style

[2017-07-10 19:37] mxstbr commented on #68
I love this, sounds like a great plan. I agree that trying to interpret JavaScript further will not go anywhere, I really like the sound of this. Let's get it done!

[2017-07-10 19:39] #62 closed

[2017-07-11 18:46] lgraziani2712 commented on #54
Another error:

[code]

It throws:

[2017-07-11 19:59] emilgoldsmith commented on #54
Hey @lgraziani2712 yeah sorry about that. The different error is simply because of a changed implementation in a recent fix #59 which handled some other issues.

We are aware of the problem and if no one else beats me to it I'll probably implement something like what I proposed in #68 which would allow you to handle this :). Feel free to comment on that issue if you have any thoughts or feedback o

[2017-07-15 21:47] #64 closed

[2017-07-16 14:18] AntonioRedondo commented on #27
I've also came accross with this problem when linting `jsx` and `scss` files at the same time. Linting works as expected when only a kind of file is linted at once but this error arises when types are mixed up.

I think `README.md` should be updated to reflect that `jsx`/`js` files should be linted in a separated go than `css`/`scss`/`less` files. The below line appearing at the moment is confusin

[2017-07-16 18:55] emilgoldsmith commented on #27
Hmmm... I'm not quite an expert on stylelint, but I just searched a bit, and could it be true that there is no way to specify different stylelint configurations for different file types?

Because yeah, this processor as of right now only supports Javascript files.

@AntonioRedondo if it's true there is currently no way to specify different configs based on a regex, maybe you should open a PR with

[2017-07-16 20:28] ismay commented on #27
The way I know of is to use the cli with the config flag:

[code]

However I think the node implementation of stylelint just looks for the standard config files.

[2017-07-16 20:59] emilgoldsmith commented on #27
Yeah that's definitely a possibility.

But I guess that wouldn't work for for example text editor plugins.

You would need a webpack'ish implementation of
[code]

implemented I guess, which would be a stylelint issue / PR that should be opened there.

[2017-07-17 14:07] ismay commented on #27
Yeah. Nothing we can do about it anyway.

[2017-07-19 07:49] JonWallsten opened #73 "Unknown word - CssSyntaxError"
Hi!
Not sure if this is bug since I wasn't the one who set up our tooling.
But after upgrading to 0.2.0 yesterday I'm no longer able to use the css helper in nested rules.
Since I don't know how to properly set up a fresh environment I can't really prove it's a problem with the stylelint processor. But this was the only package I updated yesterday besides postcss.

[code]

Feel free to close if yo

[2017-07-19 08:16] emilgoldsmith commented on #73
Hmm that surprises me, I'll check it out quickly

[2017-07-19 08:19] emilgoldsmith commented on #73
Yep that was a bug in my code, sorry about that, and thanks for reporting!

[2017-07-19 08:38] emilgoldsmith commented on #73
I had missed a case in a previous PR, we'll get #74 merged in quickly after review and publish a 2.1 so you can hopefully soon have this fixed :).

[2017-07-19 09:04] JonWallsten commented on #73
No worries mate! Thanks for fixing it!

[2017-07-19 21:46] #73 closed

[2017-07-20 06:37] emilgoldsmith commented on #73
@JonWallsten 0.2.1 published :). Hope that fixes your problems, and feel free to report any other bugs not already in the issues list if you find any :).

[2017-07-22 09:28] emilgoldsmith opened #76 "Breaks stylelint if no file name given"
If you either use the Node API `code` option without using `codeFilename`, or if you lint through `stdin` this will currently make stylelint throw an error with our processor as we require `codeFilename` to be specified for (I believe this is the reason without having looked much more into it anyway) source maps.

We should probably just quickly handle that case.

[2017-08-02 20:30] willdavidow opened #78 "Stylelint v3+ requires plugins to expose a ruleName"
Just set up stylelint for my project, very basic setup with one file using styles currently.

Upon running stylelint against my project, I received the following error:

[code]

Not sure if this is an issue with my config, or that I'm using a too-new version of stylelint?

[2017-08-02 22:59] emilgoldsmith commented on #78
You're apparently adding our package as a plugin, which means extra rules, not a processor which is what this is. Refer to the README for proper setup :).

[2017-08-02 22:59] #78 closed

[2017-08-02 23:10] willdavidow commented on #78
My mistake - I put it in the wrong field -thanks for responding!

[2017-08-02 23:39] scinos opened #79 ""Unknown word CssSyntaxError" in interpolation after comment"
When using these packages...

[code]

...this code...
[code]

...throws this error:
[code]

But these variations *do not* throw the error:

[code]

So looks like the problem is using an interpolation right after a comment

[2017-08-03 08:59] emilgoldsmith commented on #79
Ahh yes, that's an edge case. Thanks for submitting! I'll get around to fixing it soon :).

[2017-08-07 09:29] sboudrias-aa opened #81 "$dummyValue placeholder conflict with stylelint rules"
When writing styled-components looking like this:

[code]

Stylelint will report two issues:

The `selector-type-no-unknown` error is easily fixable by fixing our config:

[code]

But the `selector-type-case` doesn't have "easy" workaround: https://stylelint.io/user-guide/rules/selector-type-case/ (apart from turning the rule off).

I'm wondering is maybe we could replace `$dummyValue` with `$dumm

[2017-08-07 10:13] emilgoldsmith commented on #81
Hi @sboudrias-aa, I would deem this as a duplicate of #34, which we are on our way to making an API change that would allow you to handle these cases through #68 and #70, So for now I don't think we'll change the `$dummyValue` to all lowercase simply because we'll have a complete fix soon and also it wouldn't fix the first of the two lint errors anyway.

I'll close this issue now because it's a du

[2017-08-07 10:13] #81 closed

[2017-08-10 20:25] huy-nguyen opened #83 "stylelint fail in typescript file containing generic type for function"
This is a minimal example of a TypeScript file that caused `stylelint` to fail:

[code]
Linting succeeds after the generic type `T` is removed:
[code]

`stylelint` config used to lint that file:
[code]
Versions of relevant packages:
- `typescript`: 2.4.0
- `stylelint-processor-styled-components`: 0.2.2.
- `typescript-eslint-parser`: 5.0.1
- `stylelint`: 8.0.0

[2017-08-10 23:55] emilgoldsmith commented on #83
Hey, did this also happen with the previous version of `typescript-eslint-parser` ? As in, updating that package was the only thing we did in v0.2.2 so a more direct question may be, does this also occur with v0.2.1?

[2017-08-11 00:05] huy-nguyen commented on #83
Yes the same problem happens with `stylelint-processor-styled-components` 0.2.1.

[2017-08-11 01:45] emilgoldsmith commented on #83
@huy-nguyen Okay, good to know! If you want to help us speed up the process submitting a PR with a failing test is always helpful (and of course a fix would be even more helpful!)

@styled-components/stylelint-processor I've never used Typescript before and have a few other things that are on my to-do list in this repo when I make more time to work on it, so I won't be making this issue a priority

[2017-08-11 15:36] avdeev opened #85 "invalid repository section in package.json"

[2017-08-11 16:11] emilgoldsmith commented on #85
Thanks :). #86 will fix it.

[2017-08-11 19:34] emilgoldsmith opened #87 "Interpolation comment tagging API proposal"
To take the next step for #70 that followed from #68 I thought I would just put my initial thoughts on an API for this new feature. I thought it would be better to keep it separate here instead of in comments in the PR or something for nice organization if it ends up becoming a longer discussion.

So first of all we of course need a prefix for the comments like there is in `stylelint-enable`, `esl

[2017-08-13 12:09] BjornMelgaard opened #88 "stylelint --fix removing content of all js files"
[minimal example](https://github.com/BjornMelgaard/ran/tree/6a39cfd254709948dd318d7f5c59053f8ef55e41)

Used command:
`"lint:css": "stylelint '**/*.js'",`

What I do

[code]

File before (app/Theme.js)

[code]

After

[code]

and all js files without `styled` are empty

related https://github.com/brumbrum-it/styled-components-stylefmt/issues/1

[2017-08-13 12:19] BjornMelgaard opened #89 "One line style considered as error"
This snipped
[code]

throws error

[code]

The fact is that Im using prettier and prettier formats to this form automatically

[2017-08-13 12:52] BjornMelgaard commented on #89
workaround

[code]

[2017-08-13 14:13] emilgoldsmith commented on #88
Seems like this is not supported by stylelint: https://github.com/stylelint/stylelint/issues/2592 so you should take it up there before we can implement it. (if you have any information I don't have feel free to comment and we'll reopen the issue)

[2017-08-13 14:13] #88 closed

[2017-08-13 14:18] emilgoldsmith commented on #89
I don't believe this is our problem either. More so a problem of a combination of your linting rules plus prettier. See [this issue](https://github.com/prettier/prettier/issues/2291) in the prettier repo and there are many others, as they treat tagged template literals in a way that causes problems for styled components.

What you call a workaround is simply a change of config for your preferences

[2017-08-13 14:18] #89 closed

[2017-08-14 09:55] #85 closed

[2017-08-14 11:49] #79 closed

[2017-08-14 12:12] #51 closed

[2017-08-14 12:20] emilgoldsmith opened #91 "Changelog"
We should probably have a changelog, yeah? Especially now that we're introducing some breaking changes here and there. Any preferences for how to manage it?

[2017-08-15 00:16] mike3run opened #92 "Update package.json github references"
Specially the bugs and homepage since they point to a 404 right now

https://github.com/styled-components/stylelint-processor-styled-components/blob/master/package.json#L29-L31

[2017-08-15 08:25] mxstbr commented on #91
SGTM!

[2017-08-15 08:29] mxstbr opened #93 "Versioning plan"
The README currently says

I think this is not true anymore with the recent work by @emilgoldsmith and @ismay and all the bugs that've been fixed.

**Let's make 0.3.0 the first "beta" version and announce it as such?** I'd love to publish an article on Medium about the recent improvements we've made, does one of you want to kick that off? If you just start writing a draft and send that over to me

[2017-08-15 08:30] mxstbr opened #94 "Chat room"
I've created a channel on Spectrum for this project to discuss some of the more minute details: https://spectrum.chat/styled-components/stylelint-processor

Please join!

[2017-08-15 08:31] mxstbr commented on #93
Let's discuss here: https://spectrum.chat/thread/aa0fa6bc-ea3b-4c96-93a0-a57c1920e173

[2017-08-15 08:31] #93 closed

[2017-08-15 08:55] emilgoldsmith commented on #92
Oh yeah haha. We just fixed up #85 but didn't see it was also those 2 places. Cheers!

[2017-08-15 09:06] ismay commented on #92
Duplicate of #48

[2017-08-15 09:15] #92 closed

[2017-08-15 09:17] emilgoldsmith commented on #91
Any specific formats you usually follow? Or maybe some tech you use to synch Github releases to a CHANGELOG ? Or something similar? Should we keep both of them or one of them? Any thoughts?

[2017-08-15 09:32] emilgoldsmith commented on #92
Oh yeah you're right, you already had this pointed out. In that case I'll close #48 :).

[2017-08-15 09:32] emilgoldsmith commented on #48
Done in #96 and #86

[2017-08-15 09:32] #48 closed

[2017-08-15 09:36] ismay commented on #91
I usually just do it manually. You could use something that generates a changelog by parsing commit messages, which means we'd have to format our commit messages in a way that the generator understands.

@emilgoldsmith I understand that you're already using np, we could hook into that with an npm script, and use something like this: https://www.npmjs.com/package/generate-changelog.

[2017-08-15 09:40] ismay commented on #92
Yeah the issue was a bit vaguely worded. I should've just taken care of it immediately, thanks for handling it!

[2017-08-15 10:39] emilgoldsmith commented on #91
Yeah that sounds interesting @ismay. I can see several tools online that do cool things with changelogs. One I can't seem to find that I think would be really cool would be if you could just write a CHANGELOG file and then have it automatically sync to Github Releases using [this api](https://developer.github.com/v3/repos/releases/#create-a-release). I can't believe nothing like that already exist

[2017-08-15 10:54] emilgoldsmith commented on #91
[Here](https://github.com/olivierlacan/keep-a-changelog/issues/1) was the issue I remembered reading. Here someone created [chandler] which does exactly what I was talking about, the only drawback is it uses Ruby instead of node / npm, so yeah maybe not something worth using because of that, but interesting nonetheless.

[2017-08-15 13:31] ismay commented on #91
Yeah, it'd only work if we'd follow their commit format. Yeah I think doing it manually is fine up until a certain project size.

[2017-08-15 14:43] mxstbr commented on #91
I think we'll be fine doing it manually for now, in the future we can half-automate it like the styled-components repo by having a bot that forces people to add a CHANGELOG entry when they submit a PR!

[2017-08-15 14:45] mxstbr commented on #87
What about using just `sc-` as the prefix? I think most people don't care that it's the _processor_ they're talking to, they really just want to mark a `styled-components` code snippet as something semantically.

In my mind from a user perspective `sc-sel` makes more sense than `scp-sel`?

[2017-08-15 14:47] mxstbr commented on #87
I think we should allow both long and short versions, then people can choose themselves if they value clarity or terseness depending on their team and project, it seems weird that we would choose that categorically for all users.

That being said, we then need to have documentation about this feature (btw: we should probably move the docs for the processor to the styled-components website) and we'

[2017-08-15 14:52] emilgoldsmith commented on #91
Yep sounds good :).

[2017-08-15 15:24] mxstbr commented on #94
Going to close this now that we have the badge in the README

[2017-08-15 15:24] #94 closed

[2017-08-15 15:31] emilgoldsmith commented on #87
Completely agree with that, no need to separate ourselves from Styled Components at all.

Yep good point. I think I remember talking about something like that in #68 where I proposed writing a bit of code that allows the user to just trim as much as you want as long as it's a unique prefix it'll then find the one you're looking for, a bit like autocomplete. That would also allow flexible shortenin

[2017-08-15 15:42] emilgoldsmith commented on #87
I updated the proposal above. I guess an argument could be made for it being ugly even allowing for something like `sc-b` as mentioned in the update, even if it is up to the developer. What do you guys think? Flexibility or forced good style by deciding on the short names?

Also, what do you guys think on the questions I mentioned regarding the `scp-custom` and where to trim / not to trim.

[2017-08-15 19:01] mxstbr commented on #87
That's a pretty cool idea, I like it! `tmux` does that with their commands and it's very useful. It doesn't need to be like super well documented or anything but just like use the longhand in the docs and then have a note that says you can shorten them.

If that's too complex in terms of the code I'd also be fine with just having a map of shorthands to map `val` to `value`.

----

What exactly is

[2017-08-15 19:50] emilgoldsmith commented on #87
I don't think it'll be too bad, I think we could do it pretty simply, I'll try and see, if it gets out of hand I'll just revert to the simpler.

----

Hmm, I guess the reason I added it was because it was one of the things way in the front of my mind because a lot of the edge cases we want to fix are related to refs. Now that I think about it I kinda see your point, I guess it's not exactly the sa

[2017-08-17 11:31] ismay opened #99 "Remove typescript from dependencies"
A place to continue the discussion from https://github.com/styled-components/stylelint-processor-styled-components/pull/49#issuecomment-323036638:

[2017-08-17 11:42] emilgoldsmith opened #100 "Fix edge cases in replacing 'brace' by 'backtick'"
[This](https://github.com/styled-components/stylelint-processor-styled-components/blob/fbf7805ca868f542112248c4920496b8eb0fe35c/src/index.js#L36-L37) is very edgecase prone, we should probably add something such as checking that we only do it on the first and last lines of a styled component TTL or something like that as a declaration block inside right now would break this.

[2017-08-17 12:52] #99 closed

[2017-08-17 14:14] emilgoldsmith commented on #45
I guess we can close this issue now? Or should we wait until we merge in 1.0?

[2017-08-17 14:18] ismay commented on #45
As long it's on the 1.0 milestone we could just review the linked issues after merging. But closing also seems fine.

[2017-08-17 14:19] emilgoldsmith commented on #45
Yeah I guess we can just do a mass-close when we merge in v1.0

[2017-08-17 15:31] mxstbr commented on #45
Let's close it so the milestone shows the progress!

[2017-08-17 15:31] #45 closed

[2017-08-21 04:13] liunaijia opened #104 "SyntaxError: Unexpected token when using wildcard in the file path"
Hello,

When I run
[code]

It caused the error as follows:
[code]

However, if I run stylelint against a single file it works.

[code]

Environment:
- stylelint: 8.0.0
- styled-components: 2.1.2
- stylelint-config-standard: 17.0.0
- stylelint-processor-styled-components: 0.3.0

Config:
[code]

[2017-08-21 04:21] emilgoldsmith commented on #104
Hi @liunaijia, that sucks!

First of all thanks for showing me `npx` just googled it and that seems like a nice new tool by npm :).

For your problem I'm afraid I'm gonna have to redirect you to the [Stylelint repo](https://github.com/stylelint/stylelint/issues) though, as this very much sounds like a Stylelint bug.  I don't think there's anything we can do for that from a processor side.

I'll cl

[2017-08-21 04:21] #104 closed

[2017-08-21 05:08] liunaijia commented on #104
Hi @emilgoldsmith , thanks for your prompt reply.

I reinstalled all the packages from fresh, the error was gone. I guess it would be caused by dependency issues.

Thanks,

[2017-08-21 05:21] emilgoldsmith commented on #104
No problem :).

Good to hear! Yeah it might be that Stylelint's globbing dependency was causing issues I guess?

Good to hear your problem was fixed anyway :). Enjoy linting your Styled Components CSS!

[2017-08-22 09:23] ismay commented on #87
This might be a stupid question, but why not use single or double quotes as delimiters: `/* sc-custom 'hello world' */` or `/* sc-custom 'hello world  ' */`? Would that not be clearer in terms of parsing the placeholder comments?

[2017-08-22 10:08] emilgoldsmith commented on #87
I don't find that a stupid question at all! I love that idea, let's do it! It's a really clear API and makes our coding job simple and unambiguous :). I'm sold.

[2017-08-22 14:29] mstarkman opened #106 "Not reporting errors when adding attaching additional props"
I would expect this to fail:

[code]

However it doesn't.  I passes without an issue.  When I remove the call to the `.attrs` function, it fails with an error.

[code]

[code]

Is there an option that can be passed into the CLI to ensure that it validates the styles when the `.attrs` function is being used?

[2017-08-22 16:47] emilgoldsmith commented on #106
Hey @mstarkman thanks for the bug report! This should definitely be default behaviour, shouldn't have any need for CLI options or anything. Thanks for making us aware of it and we'll try having it fixed in the somewhat near future.

[2017-08-23 12:42] niftylettuce commented on #54
For anyone that encounters this issue, you can use this in the meanwhile:

[code]

[2017-08-26 19:37] emilgoldsmith commented on #9
@ismay since we merged in your config PR #49 this should be closeable right? :).

I can actually even see that you put in a `closes #9` in the PR so I'll just close this now. Don't know why it didn't happen automatically.

[2017-08-26 19:37] #9 closed

[2017-08-26 20:07] emilgoldsmith commented on #26
@mxstbr I'm just trying to kill off the last few bugs before v1.0.

For this one are you thinking that since `injectGlobal` is semantically meant to be in global scope anyway we don't need to add a selector? Which makes sense.

Because I guess @Gautierrr's problem would also be relevant if we for example did something like this:
[code]
right?

Since we currently consistently wrap everything in sel

[2017-08-27 07:37] mxstbr commented on #26
If you're doing `styled.x` with a selector you have to bump the rule, that makes sense. But the `injectGlobal` bit shouldn't throw an error since you have to use a selector there, so we only need a special case for `injectGlobal`.

[2017-08-27 07:38] #106 closed

[2017-08-27 19:41] emilgoldsmith commented on #26
Hmm, yeah I see the logic of having to use selectors there, but I guess the error is still just as weird in a `styled.x` call as in an `injectGlobal` call as one intuitively thinks that there shouldn't be any problems with either of them.
I think I'd vote for consistency, no? Imagine someone using the rule and everything working fine in `injectGlobal` and then they use a selector in `styled.x` and

[2017-08-27 19:45] emilgoldsmith commented on #83
@ismay are you familiar with Typescript? I'd love to have this issue out of the way by 1.0 as it seems to be a bug. I never used Typescript so I'd love to have someone else take a look at this for me.

[2017-08-27 19:48] emilgoldsmith commented on #26
Also, should we change anything about the way we handle the `css` helper?

[2017-08-28 06:39] mxstbr commented on #26
So, `injectGlobal` shouldn't throw because

[code]

injects

[code]

Which is perfectly fine! But when using `styled.x` or `css`

[code]

injects

[code]

which is just as much an anti-pattern as having nested selectors, so that should throw.

[2017-08-28 08:04] emilgoldsmith commented on #26
Okay, I'm thoroughly convinced :). I'll submit a quick PR later today with the changes to injectGlobal, shouldn't be many lines of code that need changing.

[2017-08-28 11:41] ismay commented on #9
@emilgoldsmith Yeah weird, but yes, this should be fixed 👍

[2017-08-28 11:46] ismay commented on #83
@emilgoldsmith Unfortunately not. Have a little experience with flow, but not with typescript.

[2017-08-28 11:53] mxstbr commented on #83
It seems unlikely that this is something on our side and sounds like a bug in the parser, so I'm going to close this issue.

It'd be great if you could [submit an issue over at `typescript-eslint-parser`](https://github.com/eslint/typescript-eslint-parser/issues/new), linking them to [the file where we use it](https://github.com/styled-components/stylelint-processor-styled-components/blob/976f8d52

[2017-08-28 11:53] #83 closed

[2017-08-28 12:02] mxstbr opened #109 "Make import name configurable"
Right now this processor is hard-coded to only work with `styled-components` due to checking the import name here:

https://github.com/styled-components/stylelint-processor-styled-components/blob/f67b19276f6fc252af244d60d3e69fe8e8159a3b/src/utils/styled.js#L6-L7

We should add an option (`importName`? `library`? `package`?) to allow users to say that the name of the imported package is different s

[2017-08-28 12:08] mxstbr opened #110 "Intelligent guesses for interpolations"
While the interpolation tagging will already fix most (all?) the edge cases people had with interpolations, there's still a couple of low-hanging fruits where we should have heuristics around what an interpolation likely is.

I think we should be able to do those guesses before we parse for interpolation tags (?), which means we could replace them with the relevant tags and then let the tagging sy

[2017-08-28 12:14] emilgoldsmith commented on #110
Yep sounds valid. And I also feel that before it could've been argued that guessing was bad as there are always edge cases, but now that we give the user the interpolation tags I think guessing is good as if we guess incorrectly the user can simply use the tags and all is good :).

I'm about to go back to uni and have other things as well, so I think for the near future at least I wouldn't persona

[2017-08-28 12:23] emilgoldsmith commented on #13
This should be able to be handled with an `sc-custom` tag as added in #70 when we publish it in the near future.

[2017-08-28 12:23] #13 closed

[2017-08-28 12:24] emilgoldsmith commented on #34
This should be able to be handled with an `sc-selector` tag as added in #70 when we publish it in the near future (and maybe even inferred as proposed in #110 )

[2017-08-28 12:24] #34 closed

[2017-08-28 12:25] emilgoldsmith commented on #54
See #34 last comment

[2017-08-28 12:25] #54 closed

[2017-08-28 12:32] emilgoldsmith commented on #9
I think I actually realized it's probably because we don't merge into master, and I think maybe it only closes issues if you merge into master, but since we were merging into 1.0 it doesn't see it as "integrated" (which I guess is also correct :))

[2017-08-28 12:50] mxstbr commented on #110
No worries :wink: Whenever you find a minute, you know where to find us!

Definitely post-v1, I want to get that out. This isn't like urgent, happy to make it a SemVer-major change.

[2017-08-28 12:51] mxstbr commented on #87
Done in #70! (not closed because it was merged into `v1` rather than `master`, so manually closing)

[2017-08-28 12:51] #87 closed

[2017-08-28 12:51] mxstbr commented on #68
Done in #70! (not closed because it was merged into `v1` rather than `master`, so manually closing)

[2017-08-28 12:51] #68 closed

[2017-08-28 12:53] mxstbr commented on #38
We also support flow, so we should definitely put that in the README too!

[2017-08-28 13:12] mxstbr commented on #109
Ohh I just now realised that this'll already work as we only check for `styled.x` calls! This code lints:

[code]

It only fails if you use a differing import name, that's what that check is for!

[code]

[2017-08-28 13:12] ismay commented on #9
Ah yeah of course

[2017-08-28 13:39] mxstbr commented on #37
Done! https://github.com/stylelint/stylelint/pull/2836

[2017-08-28 13:39] #37 closed

[2017-08-29 10:11] ismay commented on #91
Btw., I haven't checked what actually went into 0.4.0, but does that still need to go into the changelog? After that I'll add my renaming of the stylelint config as well.

[2017-08-29 14:21] emilgoldsmith commented on #91
Oh I hadn't even seen we had a CHANGELOG yet haha, Did we have this when I created this issue? If so sorry haha, I can't believe I didn't check.

But yeah the last few publishes should of course be in the CHANGELOG as well, I can handle that in the near future. It should be quite clear from merge commits as at least when I've published there should be a commit named the version (and of course the

[2017-08-30 19:04] mstarkman opened #115 "Errors when interpolating the media selector for a block"
I'm not sure if this is related to #110, so that is why I'm putting it in as a new issue.

I have the following code:

[code]
The `forMobileOnly` variable is set to `@media (max-width: 640px)`.  I'm getting to following stylelint errors:

[code]

For now, I'm working around by adding the following disable statements.

[code]

Do you know of another way of attempting to do what I am doing without p

[2017-08-30 19:04] mstarkman commented on #110
I just submitted issue #115 that may be related to this.

[2017-08-30 19:07] mxstbr commented on #115
This isn't released yet but [interpolation tagging](https://www.styled-components.com/docs/tooling#interpolation-tagging) is the solution for your issue!

[code]

We're going to release that sometime this or next week, so stay tuned!

[2017-08-30 19:07] #115 closed

[2017-08-30 19:25] mstarkman commented on #115
@mxstbr Thanks!  Will that be an update to this repo or to styled-components itself?

[2017-08-30 19:28] mxstbr commented on #115
This repo, going to push a 1.0 release of the stylelint processor very soon!

[2017-09-01 13:39] chytreg opened #117 "Expected "some property" to come before "-styled-mixin0""
I have opened an issue https://github.com/hudochenkov/stylelint-order/issues/41, but the author claims it's problem with interpolation. I have seen that you have introduced recently new comment syntax to handle edge cases.

Could you advise me how I could solve my issue?
Maybe we took a wrong approach in the project and should write the code in a different way.
Some code samples:

[code]

[code]
I

[2017-09-01 14:37] emilgoldsmith commented on #117
Hi @chytreg. The way our library works as we don't use the processing power to actually run all the javascript to figure out what the actual input from an interpolation would be we substitute relevant dummy values, and this won't change with our newly implemented (but not quite yet released, will be soon!) interpolation tagging, it will simply make our substitutions more accurate.

I see in the ot

[2017-09-01 14:39] emilgoldsmith commented on #117
Actually now that I think of it, when we publish you could use the `sc-custom` tag so you decide yourself what should be substituted as these kind of small edge cases are exactly what that tag is for.

So what you'd do is probably
[code]

Which would stop your linting error.

I don't imagine we would ever provide anything sleeker than that for your edge case I'm afraid, I'm inclined to close this

[2017-09-01 16:09] #91 closed

[2017-09-01 16:45] chytreg commented on #117
@emilgoldsmith thx for your feedback. It's fine for me to use new `sc-` syntax.
It looks like https://github.com/styled-components/stylelint-processor-styled-components/commit/0bc8560de023b5f7a9f2ba4eaf19faa40c9cf6db has been merged to master and has been released as 0.4.0. Unfortunately, it does not work for me. Am I doing something wrong?

[code]
tried this:
[code]

and

[code]

without success

[2017-09-01 16:49] chytreg commented on #117
I'm wrong, it has been merged but not release yet.

[2017-09-01 17:07] chytreg commented on #117
OK, now I'm trying to get the code from master branch but smth does not work :/

[code]
next I do `yarn install`
but it fails on linting command:
[code]

[2017-09-01 21:44] emilgoldsmith commented on #117
Yeah as I said in my edit above:

I'm afraid I'm not of much help with grabbing npm packages from github, I never tried that before, sorry! You'll either have to google that or wait until we release which truly is getting really close, I think basically as soon as we merge #116.

I'll close this issue for now though, and hope you figure it out.

[2017-09-01 21:44] #117 closed

[2017-09-02 19:30] #26 closed

[2017-09-02 20:05] emilgoldsmith commented on #38
This was resolved in #119

[2017-09-02 20:05] #38 closed

[2017-09-02 20:06] emilgoldsmith opened #121 "make injectGlobal without indentation throw stylelint indentation error"
It's a bit tricky, but what is being talked about is mainly the removal of [this test](https://github.com/styled-components/stylelint-processor-styled-components/blob/6e7e983d39cf68a1cd913059f1a1dec7fa834b1f/test/fixtures/simple/global.js#L15-L19) in #116, and the whole discussion regarding this issue + the reasoning behind it / the challenges behind it can be seen there as well

[2017-09-05 14:25] #109 closed

[2017-09-12 06:28] goodbomb opened #125 "SyntaxError: Unexpected token (1:0)"
Hi,

I'm getting this error when trying to use this processor with webpack:

[code]

Not sure what to do about it, but I'm using the following:

NodeJS: 8.4.0
Webpack: 3.5.6
style-loader: 0.18.2
stylelint: 8.1.1
stylelint-config-standard: 17.0.0
stylelint-config-styled-components: 0.1.1
stylelint-custom-processor-loader: 0.2.1
stylelint-processor-styled-components: 0.4.0
stylelint-webpack-plugin:

[2017-09-12 20:01] emilgoldsmith commented on #125
Hey @goodbomb!

If you're using the `stylelint-webpack-plugin` it will probably break stuff as if I remember correctly when I tested it before creating `stylelint-custom-processor-loader` because of these problems, which I see you are also using, it simply takes only and all css, so if that's your stylelint config it'll give our processor css and we assume it's JS, therefore an obvious syntax erro

[2017-09-13 03:07] goodbomb commented on #125
Ah! Perfect. That did the trick. Thanks!

[2017-09-13 03:07] #125 closed

[2017-09-18 06:59] kusmierz commented on #115
@mxstbr any ETA? :)

[2017-09-20 10:36] chrishelgert opened #127 "stylelint rule "no-empty-source" throws error in components without stylelint"
hi,

since the last release, the stylelint rule "no-empty-source" throws an error.

there woult be a test case for this (https://github.com/styled-components/stylelint-processor-styled-components/blob/976f8d5221f35f31dc35ced324b855eb70ec9657/test/typescript.test.js#L68 test), but it looks like, that the rule "no-empty-source" is not activated in the test file.

i activated it in in the typescript

[2017-09-20 12:39] whazap commented on #127
had the same issue after upgrading to 1.0.0.
using https://github.com/styled-components/stylelint-config-styled-components
(which disables the rule; "no-empty-source": null) solved it.
https://github.com/styled-components/stylelint-processor-styled-components#setup

[2017-09-20 14:09] chrishelgert commented on #127
oh i totally overread it sorry :(

[2017-09-20 21:06] martynhoyer opened #128 "Reported lines with errors are incorrect"
A bit of Googling has led me to believe this is an issue with the Stylelint SC processor...

I'm getting the following error:

` 4:3  ✖  Unknown word   CssSyntaxError`

On this file:

[code]

Not sure what's wrong there?

P.S. Don't judge me for disabling the default outline - I'm doing it responsibly! 😄

[2017-09-20 21:21] mxstbr commented on #128
Can you try

[code]

Does that fix the issue?

[2017-09-20 21:39] emilgoldsmith commented on #128
Yeah I agree that it's probably our bug not any other software, can't see off the bat what the problem would be, but yeah, probably us at fault.

[2017-09-21 06:41] martynhoyer commented on #128
@mxstbr That doesn't help unfortunately, but we're using Prettier which I have formatting on save anyway, and we've got a Prettier (and linters) step in our CI which would fail the build as well (of course, I turned it off for this test).

I've also tried:

export const focusState = css`
  /* stylelint-disable */
  outline: none;
  /* stylelint-enable */
`

To no avail.

Interestingly, with that o

[2017-09-21 06:56] martynhoyer commented on #128
Aha! I've fixed it!

Further down the file I had:

[code]

Which I was using in other files like: `background-image: ${hoverGradientOverlay()};`

If I insert the `background-image` property into `overlay`, it fixes it:

[code]

That's my mistake I guess, but the linter reporting the wrong line number is a bit of a pain.

Not sure if it's worth keeping the issue open for though?

[2017-09-21 08:54] mxstbr commented on #128
Yep, agreed. Again, would appreciate you adding this to the real-world tests so we can replicate the line issue at least!

[2017-09-21 08:56] mxstbr commented on #128
Another replication here: https://github.com/styled-components/stylelint-config-styled-components/issues/19

@Jmeyering would you mind also adding your code as a real world test case so we can fix the underlying issue? Thanks!

[2017-09-21 16:52] Jmeyering commented on #128
Added a breaking test case above

[2017-09-21 19:33] huy-nguyen opened #130 "Interpolation tagging doesn't work with Typescript file"
I tried to lint this this typescript file (simplified):
[code]
and got this error:
[code]
I then tried to use the interpolation tagging with `sc-selector`:
[code]
but got the same errors. I then tried using `sc-custom` as the last resort:
[code]
but still got the same errors. Here's my `stylelint` config:
[code]
Is this a bug with the processor or am I not using it correctly? Here are the relevant

[2017-09-21 19:35] mxstbr commented on #130
Can you try tagging your `${rankColumnWidth}` interpolation? We're having some issues with line numbers at the moment (ref #128) so it might be that's breaking it?

[2017-09-21 19:36] mxstbr commented on #128
Awesome, thanks @Jmeyering! I currently don't have time to look into the issue, but the failing test should help any contributions to come in :blush:

[2017-09-21 20:18] emilgoldsmith commented on #130
Hmm, my best guess at the moment is that the processor inserts an extra semicolon after `rankColumnWidth` but I don't think it should...

Yeah it'd be helpful @huy-nguyen if you could do a bit of "binary search" to find exactly what causes it as the errors make it sound like it's not the selectors that are a problem, and find the minimum change to your css that'll make it stop erroring as that'll

[2017-09-21 22:11] huy-nguyen commented on #130
@mxstbr I tried this
[code]
and this (removed semicolon):
[code]
and this
[code]
but all gave the same errors. I'm not sure what else to try.

[2017-09-21 22:13] emilgoldsmith commented on #130
Well this all helps of course, as it narrows it down to the interpolations though that was probably already pretty clear.

What about trying replacing each of the interpolations by a normal constant css string and seeing which one is causing the error like that? :)

[2017-09-21 22:21] emilgoldsmith commented on #130
Great, that's very helpful.

If you want to be even more helpful you can submit a PR with a breaking test like what was just done in #129 for #128. Then we'll get on it.

Given your extra tests I also think I'll change the tag to bug as it seems pretty obvious from those tests that the fault is somewhere on our end.

[2017-09-21 22:26] huy-nguyen commented on #130
@emilgoldsmith I'm in a bit of a crunch right now to clone, add the tests and make a PR but I think it wouldn't take much time for someone else to pick it up from here.

[2017-09-22 00:24] emilgoldsmith commented on #130
Yeah no worries, no requirements, just suggestions for positive ways to help speed up the process :).

[2017-09-24 08:41] adrianmcli opened #131 "Catch Babel parsing errors"
When I'm editing `.js` files with the [Stylelint plugin](https://github.com/shinnn/vscode-stylelint) in VSCode, I get spammed with popup error messages from babylon.

For example:

[code]

My `.stylelintrc`:

[code]

Another user had the same problem here: https://github.com/shinnn/vscode-stylelint/issues/89

[According to the author of the plugin](https://github.com/shinnn/vscode-stylelint/issues

[2017-09-24 09:35] mxstbr commented on #131
/cc @orta you're using this setup, right?

[2017-09-24 10:35] orta commented on #131
Yep, and a fail generally works fine for us:

<img width="1366" alt="screen shot 2017-09-24 at 6 34 26 am" src="https://user-images.githubusercontent.com/49038/30781731-6cea8308-a0f2-11e7-9080-c61af85d58b6.png">

The offsets are usually wrong, but we have a complicated babel setup running typescript first, so we just deal with it

[2017-09-24 10:50] mxstbr commented on #131
Hmm interesting, so it's gotta be something in your local setup @adrianmcli. I don't know what this means or what we should have to change:

*Note: I think the wrong offsets are due to #128 (see failing test in #129), any help getting that fixed appreciated too!*

[2017-09-24 12:41] orta commented on #131
Form the sounds of it, the issue is that an exception is being raised in the babel parser that _isn't_ being caught and returned as an object with the right formatting to say there is an issue. I don't think they ever expect you to be throwing an error, which seems like a reasonable assumption.

[2017-09-25 01:10] adrianmcli commented on #131
@orta

So are you not getting the popups that I am getting? And you are using the same vscode [plugin](https://github.com/shinnn/vscode-stylelint/) with comparable configuration?

Also, would you have any idea as to why the author of the plugin thinks it's a bug with the processor? I'm just trying to find a solution here.

[2017-09-25 01:17] orta commented on #131
Nope, never seen popups like that - and yeah, I added the support for that extension: https://github.com/shinnn/vscode-stylelint/pull/82

I think it's this: an exception is being raised in a babel parser in this lib that isn't being caught and then returned as an object with the right formatting to say there is an issue. I don't think they ever expect you to be throwing an error, which seems like

[2017-09-25 01:33] emilgoldsmith commented on #131
Okay @orta so you reckon this issue should for example be renamed to "Errors not being caught correctly" and we should add a `.catch` statement somehwere or something of the likes?

[2017-09-25 11:40] orta commented on #131
Yep 👍

[2017-10-06 08:25] gartz opened #133 "When using --fix it remove all lines of files without styled-components"
I did the basic configuration recommended in the docs, when I run:

[code]

Instead of ignoring files without `styled-components` it replaces the files by an empty file.

Config file:
[code]

Packages version:
[code]

[2017-10-06 13:05] emilgoldsmith commented on #133
This isn't a bug I'm afraid, we just simply can't support `--fix`. It's all in the way stylelint processors are written, Stylelint simply calls our processor to extract the css from a given file, and I guess they then assume that that constitutes the whole file, so when you use `--fix` and we say "there's no CSS in this file" it'll return an empty file.

I'm also assuming that in any other files i

[2017-10-06 13:05] #133 closed

[2017-10-06 13:08] emilgoldsmith commented on #133
https://github.com/stylelint/stylelint/issues/2617 and https://github.com/stylelint/stylelint/issues/2592 for reference

[2017-10-06 13:19] gartz commented on #133
I think the solution of add a mention in the documentation will help a lot.

I agree that this isn’t an easy task. I would love to implement such, but I have no free time to do it. :/

About the interpolation, it needs to recursively check for strings inside interpreted blocks and ignore if it’s not at least a property:value css format. Not easy, not impossible, won’t be perfect.

Thanks for the c

[2017-10-06 13:27] emilgoldsmith commented on #133
Well for whatever fix, it still has to be Stylelint that implements it, not us, and I don't quite think you understand what I mean when you write

as the thing is we would still need to somehow tell Stylelint (and they would have to implement an API for it) what the actual CSS is, and then where to change what in order to fix things which would be incredibly complicated as we change the indentatio

[2017-10-06 14:20] gartz commented on #133
It’s late here, I’m only answering emails by now.

I definitely agree that resolve interpolation will be very limited. You can’t call functions or evaluate their returns. As I said the only case is when find a string with a CSS key:value, even that is hard, would need an AST like Babel to get a few possible cases, what is heavy and too complex.

I would ignore such and only fix what is easy to tes

[2017-10-06 15:04] emilgoldsmith commented on #133
I'll do the docs PR now :).

But yeah regarding this:

I'm not sure if you're implying this is something we could implement or just continuing the discussion for discussion's sake, but just to once again clarify if it's the former: Stylelint doesn't support this for processors, so it's all hypothetical, this processor is only an addon for Stylelint and so it is limited what Stylelint allows us to

[2017-10-06 15:12] emilgoldsmith commented on #133
https://github.com/styled-components/styled-components-website/pull/135

[2017-10-06 15:28] gartz commented on #133
It need Stylelint to implement a way to custom output the string for the file, to be possible as you said before.

Can’t be done with a processor without that implementation.

If they add that possibility, that’s how I would add to the feature.

I was sharing hypothetical thoughts on how to do that, most probably would need another project using Babel AST to extract the css from the code, then app

[2017-10-12 15:31] sibelius opened #134 "margin-horizontal property-no-unknown"
![image](https://user-images.githubusercontent.com/2005841/31504640-48fa986a-af49-11e7-9790-eeb3a731610e.png)

I'm getting this warning on react-native and styled-components

does it make sense?

same with padding-vertical

[2017-10-12 15:52] emilgoldsmith commented on #134
Well.... Isn't it simply invalid CSS???

Do you want to write
[code]

??

[2017-10-12 15:53] emilgoldsmith commented on #134
That's what the linter is for :). Catching your CSS errors.

Here is the syntax for margin (and the one for padding is basically the same):

https://www.w3schools.com/Css/css_margin.asp

I'm gonna close this as this doesn't have anything to do with us.

[2017-10-12 15:53] #134 closed

[2017-10-12 15:56] sibelius commented on #134
I guess this is valid on React Native

check this out: https://facebook.github.io/react-native/docs/layout-props.html#marginhorizontal

[2017-10-12 16:21] emilgoldsmith commented on #134
Ahh okay, fair enough, I'm not very familiar with React Native. But does Stylelint support React Native?

Again, it's still the correct thing for me to close this because it doesn't have anything to do with us. This project simply parses Styled Components CSS and passes it to Stylelint.

I've never myself used Styled Components with React Native so if @mxstbr has some input that shows there maybe

[2017-10-12 19:05] mxstbr commented on #134
Yeah, ReactNative has a slightly different system of styling. I don't know if stylelint has support for that, if so you might have to use some sort of ReactNative plugin or something?

[2017-10-12 21:50] sibelius commented on #134
I think we should reopen this until we figure it out how to properly handle react-native case

[2017-10-12 22:32] emilgoldsmith commented on #134
I'm just not sure if this is in the realm of this repo? React Native isn't really CSS right? It's pseudo CSS as far as I know.

[2017-10-13 07:24] mxstbr commented on #134
This unfortunately has nothing to do with this processor at all. All this processor does is turn this:

[code]

into this for stylelint:

[code]

It doesn't do anything else. To specifically lint ReactNative styling you'd likely have to write a plugin or preset for stylelint that encompasses all of the valid rules etc.

I'm happy for you to tackle that! :blush:

[2017-10-18 15:45] vladimirvolek opened #135 "[stylelint-config-styled-components] Loads files without styled-components"
According [this](https://www.styled-components.com/docs/tooling#setup) docs, files without styled-components should be ignored.

![image](https://user-images.githubusercontent.com/3112191/31728699-49e63714-b42d-11e7-8b9c-c01be1e9f325.png)
It's linting files with content:
[code]

[2017-10-18 16:01] vladimirvolek commented on #135
ehh missing
[code]

[2017-10-18 16:01] #135 closed

[2017-10-18 16:36] emilgoldsmith commented on #135
Hmm why do you keep closing this issue? You want us to respond yes?

So you're saying that our processor lints a JS file that contains nothing but
[code]

??

What is the exact Stylelint output that you get?

[2017-10-25 11:13] sibelius commented on #134
fixed with this .stylelintrc

[code]

[2017-10-25 11:47] mxstbr commented on #134
Ohh, that's a nice workaround! Is there a comprehensive list of ReactNative-specific properties? /cc @vjeux

[2017-10-25 14:57] vjeux commented on #134
https://github.com/facebook/react-native/blob/master/Libraries/Text/TextStylePropTypes.js
https://github.com/facebook/react-native/blob/master/Libraries/Image/ImageStylePropTypes.js
https://github.com/facebook/react-native/blob/master/Libraries/Components/View/ViewStylePropTypes.js

[2017-10-25 16:51] emilgoldsmith commented on #134
I guess this could lead to a us creating an extendable react native config for the processor? Like the main one @ismay created? That could be a pretty elegant easy thing to add anyway.

[2017-10-25 16:52] mxstbr commented on #134
Yeah I like that, `stylelint-config-react-native`?

[2017-10-25 17:18] emilgoldsmith commented on #134
Yeah that's a pretty clean name, I guess we don't even need to include Styled Components in the name as it's not directly related to it, which is much cleaner (`stylelint-config-styled-components-react-native` is pretty damn long :P).

Let's do it!

[2017-10-27 08:04] plitex opened #136 "Error with Node v4"
Hi,

I'm facing a problem running the linter with node 4, node 6 and 8 is working fine.

[code]

Stylelint config:

[code]

[2017-10-27 08:09] mxstbr commented on #136
PR welcome!

[2017-11-04 17:49] valorize commented on #12
I think it is really cool to have typescript support. But I do not use typescript and get an error as follows:
`npm WARN typescript-eslint-parser@7.0.0 requires a peer of typescript@* but none was installed.`
Do you know how to suppress this warning?

[2017-11-04 19:05] emilgoldsmith commented on #12
Yep update :), it was removed as a peerDependency

[2017-11-04 19:07] emilgoldsmith commented on #12
Or actually nevermind, sorry, that specific warning we probably can't do anything about, it is just a warning though. We need to include the parser as a dependency for if you use it for Typescript, though the code will never run unless you actually run it on a Typescript file and therefore you won't actually need Typescript installed. But I guess that warning is from the `typescript-eslint-parser`

[2017-11-04 20:19] valorize commented on #12
Ok, thanks for your clarification anyway.

[2017-11-05 11:04] Undistraction commented on #131
For what it's worth I have the same issue. The moment I start editing a JS file I get a deluge of alerts. It makes this plugin unusable unfortunately as my only option is to remove Javascript from stylelint's list of types.

[2017-11-06 13:48] zhenyulin opened #141 "dependency warning"
I'm currently getting the following warning:
[code]

[2017-11-06 14:04] emilgoldsmith commented on #141
Sorry for the nuisance, see this comment: https://github.com/styled-components/stylelint-processor-styled-components/issues/12#issuecomment-341922169

[2017-11-06 14:04] #141 closed

[2017-11-06 14:16] zhenyulin commented on #141
@emilgoldsmith Thanks for the quick followup. I'm currently on v1.0.0, but still get this warning.

[2017-11-06 15:12] emilgoldsmith commented on #141
Then you didn't read the comment I linked to :). Maybe you only read the one above it? Read both of my comments :)

[2017-11-06 15:56] zhenyulin commented on #141
@emilgoldsmith OK, thanks for the clarification. Was wondering if it is proper to treat it as a devDepedency?

[2017-11-06 19:16] emilgoldsmith commented on #141
I'm sorry @zhenyulin but you're tiring me out a bit now as it seems like you keep on not reading my comments, this is the second time in a row you ask something I already addressed in the comment I linked to you.

[2017-11-07 23:58] zhenyulin commented on #141
@emilgoldsmith sorry, I've taken it wrong earlier. Found it on one of the earlier comments above.

[2017-11-12 19:12] #136 closed

[2017-11-20 14:20] ismay commented on #91
@emilgoldsmith By the way, for generating the changelog we could use these libraries to automate it:

- https://github.com/conventional-changelog/conventional-changelog
- https://github.com/marionebl/commitlint

Commitlint would enfore commit style to be something that conventional-changelog can parse (and subsequently generate a changelog from).

[2017-11-22 14:40] #131 closed

[2017-12-02 05:28] #128 closed

[2017-12-05 08:03] chinesedfan commented on #130
The current processor implementation can't recognize the selector interpolation here. And it will be substituted by `-styled-mixin${count}: dummyValue;`, which causes the first warning. Maybe #110 should also take this issue into considerations.

Even with interpolation tagging, it doesn't work because `typescript-eslint-parser` has moved support of attaches comments to ESLint from [v0.1.0](https:

[2017-12-05 16:48] emilgoldsmith commented on #130
Oh that makes sense, thanks for that information @chinesedfan, because then of course we can't do the interpolation tagging. We should probably also add this to the README on the website, I'll get on that later today.

[2017-12-10 23:02] #76 closed

[2017-12-11 23:03] spmcbride1201 opened #153 "Unexpected content getting parsed by Stylelint"
Team Stylelint:

Love your ecosystem! I've been trying to add more tooling to help our junior devs, and I've been having some issues getting Stylelint to behave.

When I run `stylelint 'src/**/*.{js,jsx}'`, I'm currently getting errors. It seems that stylelint is trying to parse code outside of my styled-component template strings.

[code]
## ButtonWrap
![image](https://user-images.githubuserconte

[2017-12-11 23:28] emilgoldsmith commented on #153
Hey!

Just to rule out the obvious first, are you using the latest version of the processor? Since we recently published a fix that was causing multiline interpolations to break the sourcemaps, and therefore report errors in wrong places?

[2017-12-11 23:54] spmcbride1201 commented on #153
Updated to `1.2.1` and updated appropriately. One of the errors now seems to be an erroneous "Missing semicolon" error, but that's probably now a `stylelint` thing. ButtonWrap seems to behave the same.

[2017-12-12 00:44] emilgoldsmith commented on #153
Okay, I'll try and run it locally and see if I can debug it a bit, I'll be back!

[2017-12-12 00:47] emilgoldsmith commented on #153
For one I just noticed that you have written `&.active` instead of `&:active` here:
[code]

[2017-12-12 00:58] emilgoldsmith commented on #153
Okay I think I identified at least the error in TabLink, it's an error introduced by the new fixes I mentioned previously, and it might cover both your cases. I'll see if I can get around to it tonight, but yep, definitely our bad. Thanks for the report!

[2017-12-12 01:22] emilgoldsmith opened #154 "Source maps don't get assigned during CssSyntaxError"
It seems from #153 that the source maps don't run, and actually not even the `result()` function in `index.js` is run when there's a CssSyntaxError, I'm not quite sure if this is something we can actually do something about as it seems that Stylelint simply doesn't "give back control" to us in the case of a CssSyntaxError, but it should definitely be looked into as it's of course confusing behavio

[2017-12-12 01:27] emilgoldsmith commented on #153
Hey, a bit more information. Firstly, to fix your css you currently have 2 bugs in TabLink:

1. You're using the wrong interpolation tag in your multiline interpolation, it should be `/* sc-value */` not `/* sc-block */`. Check out [this vocabulary list] if it wasn't just a typo and you want to see where you went wrong.

2. In the second to last block you have forgotten a colon in your opacity sta

[2017-12-12 01:30] emilgoldsmith commented on #153
If you would like me to take a look at ButtonWrap I'll need the whole file since the sourcemaps aren't working, so the problem is probably simply in your CSS (though it could also possibly be some issues with our implementation of interpolations) but just in a completely different place, probably in the 75th line of CSS present in your file (skipping all non css stuff)

[2017-12-12 02:01] chinesedfan commented on #154
I met this problem and opened an issue as [stylelint#3050](https://github.com/stylelint/stylelint/issues/3050). When CssSyntaxError occurred, our processor can do nothing until `stylelint` solves that.

[2017-12-12 02:27] spmcbride1201 commented on #153
Emil, thank you so much for your keen eye! TabLink is behaving again, and now that I understand that the syntax error is related to the non-sourcemapped CSS string, I think I should be able to track things down in ButtonWrap. This file is essentially a big ball of styles and mixins that we refactored from SCSS earlier this week, so it might take a bit. I'll report back when I've tracked down the c

[2017-12-12 14:41] emilgoldsmith commented on #154
Yeah I see, very nicely documented issue with all the links to source, if we have some time we could maybe make the contribution to `stylelint` ourselves.

Also, thanks for the clarification here :)

[2017-12-12 15:31] emilgoldsmith commented on #154
I'm working on a PR at the moment by the way, so no need for anyone else to start.

[2017-12-12 18:12] spmcbride1201 commented on #153
After spending a few hours refactoring things, I've found and fixed a handful of syntax errors. However, I still am getting the error at approximately the same line number as before, so I likely missed the major one (not surprising, as I am a quite a CSS amateur) . Since I see that you're working on submitting a PR upstream, I'm thinking I'll stand down until that's worked it's way through the eco

[2017-12-12 20:29] emilgoldsmith commented on #153
Hey! If you want you can replace the `lib` folder in your `node_modules/stylelint` folder with the one from here: https://github.com/emilgoldsmith/stylelint.

I believe I have it working now, just gonna finish up tests and gotta go through code review etc.

[2017-12-12 21:23] emilgoldsmith commented on #153
Oh sorry, forgot I hadn't pushed + wasn't linking to the branch (that didn't exist then either). Here's the correct link: https://github.com/emilgoldsmith/stylelint/tree/feature/apply-resultprocessors-on-CssSyntaxError

[2017-12-12 21:51] emilgoldsmith commented on #154
PR submitted: https://github.com/stylelint/stylelint/pull/3063

when this gets merged in this should be automatically fixed, but we should also add a few regression tests, and probably a note in the README or the docs on the website that you need that specific version of `stylelint` in order for the source maps to work. At that point we can also add the fact the `--fix` doesn't work, if we haven't

[2017-12-12 22:24] emilgoldsmith opened #155 "Sourcemaps not applied on processor errors"
Sourcemaps don't get applied on errors that our processor throws, it's possible that the fix is as easy as us applying source maps to the lines we put in the constructor of the error, as then we can just let Stylelint handle terminating early etc. as errors from our side also mean that the stylelint call wouldn't be able to finish anyway.

I would do it in the way where we make a wrapper ourselves

[2017-12-12 23:29] spmcbride1201 commented on #153
That seemed to do it! I went to the line and column suggested and discovered a malformed comment. Fixing it seems to have resolved things, so I think you're on the right track.

The only oddity I encountered was that your default formatter seemed to be json for some reason, so I had to change my npm script to manually set it back to to string via `"lint-css": "stylelint --formatter string 'src/**/

[2017-12-13 00:01] emilgoldsmith commented on #153
Didn't change anything there so that sounds weird, I'm pretty sure the problem should be at your end.

And yep I'll close this one

[2017-12-13 00:01] #153 closed

[2017-12-13 00:48] wachunga opened #156 "Support JS style line comments (// comment)"
For example:
[code]

Converting to a typical CSS comment `/* */` avoids the error. But line comments are convenient, and my understanding is that styled-components supports them.

[code]

[2017-12-13 00:51] wachunga commented on #156
If this is intended behaviour, it could at least fail more gracefully. As it is, this error obscures all other lint warnings and reports incorrect line numbers. Took me a while to figure out the issue.

[2017-12-13 00:55] emilgoldsmith commented on #156
Hmm if you're right that Styled Components supports line comments (I'm not 100% sure on that one) then that's a good point.

The incorrect line numbers is in the process of being fixed #154 but we need to wait for a PR to be merged on the Stylelint side.

The tricky part about this is that all we do is pass css to Stylelint and they do the rest of the work (and the error you encountered), but I gu

[2017-12-13 01:16] wachunga commented on #156
Thanks for the prompt reply. See https://github.com/styled-components/styled-components/issues/1098#issuecomment-324404085, where 'supper' I believe means 'support'.

[2017-12-13 01:42] emilgoldsmith commented on #156
Yep I can see this test as well: https://github.com/styled-components/styled-components/blob/8aa30c61818ae4eae4f7266b49923162e1b68170/src/test/styles.test.js#L164-L178

[2017-12-13 01:47] emilgoldsmith commented on #156
So yep, this is officially verified, and is a good enhancement to stay consistent with Styled Components. I definitely think the way to go is stripping the comments, I would say go look at the implementation done of the stripping in Styled Components and just copy that for consistency, though I think it should be pretty simple as long as we only operate on the final CSS (I'm not sure if you could

[2018-01-08 15:24] lumio opened #158 "TypeScript prop typedef leads in declaration-colon-newline-after error"
The following code as shown here:
[code]

leads to the following error
[code]

I guess that the `props :` is interpreted as a new property.

---

Originally instead of `props.active...` I just posted `'#000'` which didn't reflect the real code snippet.
`globalColors` is an imported object that just holds color values.

[2018-01-08 15:26] mxstbr commented on #158
The line and colon number (`13:15`) points to the `background:` bit, so I think our interpolation replacement might be going wrong there. Mind submitting this as a test to the codebase so we can take a closer look?

[2018-01-08 15:38] lumio commented on #158
The line number is out of context. I left out some lines.
If I change it to the following below, the error is on the next line:

[code]

[2018-01-08 15:48] emilgoldsmith commented on #158
In that case I think you just need to use our interpolation tags as described in the docs. As it's on a new line I believe our "intelligent guessing" will treat it as a full declaration which is obviously wrong in your case. Try `/* sc-prop */`

[2018-01-09 09:08] inferusvv opened #159 "Stylelint not working with `withConfig`"
My styled components are declared in next way:

[code]

When I remove `withConfig` - linter works. Otherwise it don't.

[2018-01-09 09:27] mxstbr commented on #159
You should never ever use `.withConfig` manually, which is why none of our tooling supports it. Let the Babel plugin automatically add it.

[2018-01-09 09:27] #159 closed

[2018-01-14 05:08] chinesedfan commented on #158
@lumio Can you provide the processor version and full stylelint config? I didn't find any problems with the latest 1.2.1 and following simple rules. Your first code sample is reasonable because it expects a newline after `background:`. And the second code returns a warning `'Expected indentation of 8 spaces (indentation)'`, which is also correct. Please remind me if I missed something.

[code]

@e

[2018-01-14 05:16] chinesedfan commented on #130
Hi @emilgoldsmith, have it been added? Not a push, just curious. 😄

[2018-01-14 19:21] emilgoldsmith commented on #130
Nope I must've forgotten! Thanks for the reminder I'll do it right now

[2018-01-14 19:28] emilgoldsmith commented on #158
Ahh yes, if you have the newest version of the `typescript-eslint-parser` it won't include the comments, right? Which in that case breaks our interpolation tags.
But you can't reduce OP's problem at the moment right?

[2018-01-15 02:47] chinesedfan commented on #158
@emilgoldsmith Yes, I don't understand what `the error` means. If it means the same error, I failed to reproduce. So hope more information can be provided.

[2018-01-15 13:48] lumio commented on #158
Hey guys! I'm super sorry for the confusion. I tested that very specific code snippet - and yes, it works without any problem.

I updated my initial post with the real problem. I somehow thought that the error was independent of the function body.

[2018-01-15 14:19] emilgoldsmith commented on #158
Thanks @lumio

@chinesedfan you up for looking at it again with the new information?

[2018-01-15 14:51] chinesedfan commented on #158
@lumio Same results, even if I deleted the additional right parenthesis in your updated snippet. Excuse me, what's your expected results? I think the warning of `declaration-colon-newline-after` is right.

[2018-01-15 16:15] lumio commented on #158
Hi @chinesedfan. Thanks for looking into it.
So my expected result was, that stylelint interprets the following lines below as `background: #hexcolor;`:

[code]

Digging into it a little deeper I figured out the problem. And you are right, `declaration-colon-newline-after` works as expected.
I just needed to indent the lines properly. So my fault after all

[2018-01-15 16:15] #158 closed

[2018-01-16 10:26] yangaobo opened #160 "Tab indentation issue in injectGlobal"
`injectGlobal` indentation rules work differently with `Tab`
I copied your test case https://github.com/styled-components/stylelint-processor-styled-components/blob/master/test/fixtures/inject-global/valid.js and update the indentation from 2-space to Tab
[code]
and config my stylelint as follow
[code]
stylelint fails with
[code]
I have to change the code to
[code]
I guess this is a bug? because t

[2018-01-16 12:08] emilgoldsmith commented on #160
Thanks! That's definitely unintended

[2018-01-16 13:24] #160 closed

[2018-01-16 13:45] emilgoldsmith commented on #160
The fix is published in 1.2.2 we had a typo in a regex :)

[2018-01-16 19:13] emilgoldsmith commented on #156
Hey @wachunga, I was just trying to look at this, and wrote some tests and they all pass... Do you still experience these problems with the newest versions of everything? If so could you maybe submit a PR with a breaking test case? I could also submit a PR with the test cases I have so you could add to them if you want

[2018-01-22 07:32] wachunga commented on #156
@emilgoldsmith I'm still getting the error after upgrading to `1.2.2` and stylelint `8.4.0`:

[code]
I think submitting your test cases makes sense. 👍

[code]

[2018-01-22 09:00] emilgoldsmith commented on #156
Done, see #164

[2018-01-22 09:02] emilgoldsmith commented on #156
So @wachunga if you could please help troubleshoot what it is that doesn't work on your machine that seems to do on mine (assuming the CI passes the tests which I think it will as they pass locally for me), that'd be great.

[2018-01-23 14:34] joakimkemeny opened #165 "Version 1.2.0 breaks complex multiline expressions"
Let's say I have some styles with a switch statement that Prettier formats like this:

[code]

This was fine before 1.2.0 but in 1.2.0 I get the following errors:

- Expected no more than 0 empty lines
- Expected newline after ":" with a multi-line declaration

[2018-01-23 15:32] emilgoldsmith commented on #165
@chinesedfan could you look at this as it seems to relate to your multiline interpolation PR?

Also @joakimkemeny if you could please share the version of all the relevant packages (stylelint specifically) and your stylelint config

[2018-01-24 08:00] joakimkemeny commented on #165
I use the latest version of these libs (I found this problem as I was updating all dependencies):

- styled-components: 3.0.1
- stylelint: 8.4.0
- stylelint-config-standard: 18.0.0
- stylelint-config-styled-components: 0.1.1
- stylelint-processor-styled-components: 1.2.0 (I tried later version, this is where it broke)

My stylelint config is really simple:

[code]

[2018-01-24 20:28] wachunga commented on #130
Any suggestions on workarounds for this? Currently I'm resorting to `/* stylelint-disable */`.

[2018-01-25 02:14] emilgoldsmith commented on #130
Hmm, that's probably the best approach as of right now I'm sorry!

[2018-01-25 07:51] chinesedfan commented on #165
@emilgoldsmith Confirmed they were introduced by 1.2.0.

Our new substitution method will convert the multi-line interpolation to comments, but stylelint treated comments as empty strings in value. Maybe we should filter these warnings as well as indentations.

The old substitution just kept one line so no warnings before. But I think the current implementation is more reasonable. Because it is re

[2018-01-25 10:11] emilgoldsmith commented on #165
Hmm, I don't think we can filter here though, as it would be overkill and remove a lot of valid errors.

What about instead of comments we just put in dummy css. Such as `-styled-mixin: $dummyVariable`. That should work right? Or are there any issues with that?

[2018-01-25 14:05] chinesedfan commented on #165
We have `interpolationLines` records which lines are interpolations, so it can be used to avoid removing valid errors.

Comments are not the best dummy css. But as discussed in #140, it is still hard to replace with `-styled-mixin: $dummyVariable` without introducing more lint errors.

[2018-02-13 12:16] mirovelk commented on #54
Was this and #34 actually resolved? Because contextual selectors still throw errors for me and I am using version 1.2.2.

[2018-02-13 12:17] emilgoldsmith commented on #54
Did you follow the last comment and use an interpolation tag?

[2018-02-13 12:27] mirovelk commented on #54
Oh now I get it. I didn't dig that deep into the discussion. The tag works. Kind of a workaround but I am sure there is a good reason why it currently works like that.

For everyone else and future reference, use `sc-selector` tag like this to prevent the error:

[code]

Thank you for super fast response.

[2018-02-21 18:10] #156 closed

[2018-02-21 18:11] emilgoldsmith commented on #156
@wachunga the tests pass so I'm not quite sure what your problem is, as I said above you're going to have to help troubleshoot it if you keep having issues

[2018-02-21 18:11] emilgoldsmith commented on #156
Are you using `syntax: scss` in your stylelint config? It is stated in the README that that is necessary for Styled Components to lint properly

[2018-02-28 13:09] emilgoldsmith commented on #130
#143 should have fixed this, publishing now

[2018-02-28 13:09] #130 closed

[2018-02-28 13:11] emilgoldsmith commented on #154
#167 This should now work as long as you upgrade your stylelint version to v9+

[2018-02-28 13:11] #154 closed

[2018-02-28 18:23] emilgoldsmith commented on #153
We just published v1.3.0 that together with stylelint v9+ should now apply sourcemaps correctly to css syntax errors!

[2018-03-03 01:33] jeddy3 opened #170 "Remove `syntax: 'scss'` from config in docs and tests"
Firstly, thank you for creating and maintaining this processor. I use it myself when working with styled-components.

I had a query about the `syntax: scss` property value pair in the [Setup section](https://github.com/styled-components/stylelint-processor-styled-components#setup) of the README.

[code]

Is that pair unique to this processor as I don't believe it is used in stylelint itself? I did

[2018-03-03 05:18] emilgoldsmith commented on #170
It isn't, but it's probably infrequently used because Stylelint normally infers it from file extension, this is the closest I found to documentation on it from a quick look https://stylelint.io/user-guide/css-processors/#parsing-non-standard-syntax and here https://stylelint.io/user-guide/faq/#how-do-i-lint-scss-less-or-other-non-standard-syntax

[2018-03-03 09:53] jeddy3 commented on #170
Thank you for the reply.

There was a request in https://github.com/stylelint/stylelint/issues/2973 to add support for setting the syntax within the configuration object, but we found an alternative solution and the feature was never implemented. So, I don't believe stylelint will respect this configuration object property.

I also tried not using the property alongside nesting and interpolation o

[2018-03-03 10:36] emilgoldsmith commented on #170
Interesting, @mxstbr wanna chime in? I guess it's you that set this requirement originally?

[2018-03-03 10:55] mxstbr commented on #170
Yeah I thought it was necessary, nevermind then! If it works let's remove that from the docs

[2018-03-03 10:56] emilgoldsmith commented on #170
And from our configs in the tests

[2018-03-04 13:24] jeddy3 commented on #170
Would you like me to make a PR for these?

[2018-03-04 13:31] emilgoldsmith commented on #170
@jeddy3  If you'd like to help out that would be great!

[2018-03-05 18:23] #170 closed

[2018-03-07 20:39] seafoam6 opened #173 "Missing semi-colons not picked up when using "mixins" / polished library"
I'm using [polished](https://github.com/styled-components/polished/) with my styled-components. I've noticed that when we use a mixin from the library, missing semi-colons are unnoticed by the linter. When the mixin lacks a semi-colon, the following css rule will be ignored.

Here `color:red;` will be swallowed:
[code]

Semi-colon works fine.
[code]

Not sure if it's relevant or not, but I'm also

[2018-03-07 21:58] huy-nguyen commented on #130
Thanks for fixing it!

[2018-03-08 10:07] ttraenkler commented on #27
Is there a way to configure stylelint differently for css and js files in the stylelint section of package json or is the only option to write a different config file and run stylelint twice?

[2018-03-08 12:05] emilgoldsmith commented on #27
Currently Stylelint (as far as I know) doesn't allow putting in different configs for different files in an easy way, you could either get this to happen by contributing to #163 so we can get that merged, or helping get that implemented for Stylelint itself

[2018-03-08 18:52] seafoam6 commented on #173
Thank you!

[2018-03-12 20:38] mattyfresh opened #176 "linter passing over scss in wrapped styled-component typescript function"
I am setting up stylelint to work with `styled-components` and `typescript` and everything works great for the normal use case of adding styles:
[code]

However, I have a function that adds type annotations for our component props when I need them, which ends up looking like this:

[code]
(FYI: `styledComponentWithProps` is basically the same as https://github.com/jacob-ebey/styled-components-ts)

[2018-03-13 09:28] emilgoldsmith commented on #176
Yeah our processor wouldn't recognize that statement as a `Styled Components` statement I don't think as we look for the the `styled.***` (or whatever you named the `styled-components` import). I'm not sure exactly how we'd handle this though, given that we're a static analysis tool but if you can come up with something feel free to submit a PR / suggest it here

[2018-03-22 12:28] ekfuhrmann commented on #50
Stylelint now allows autofixing errors ([link](https://stylelint.io/user-guide/cli/#autofixing-errors)). Any chance we can revisit adding this to styled components now?

[2018-03-22 12:32] emilgoldsmith commented on #50
Your link isn't about `--fix` being supported for processors is it? That's just the normal support for `--fix`. So it's not relevant to our issue. Feel free to try and add the support though and submit a PR to Stylelint!

[2018-03-23 00:52] shinnn opened #178 "`line` property of `no-empty-source` warnings are `undefined`"
### Problem

[code]

When I run the code above, it prints

[code]

But when I use `stylelint-processor-styled-components`,

[code]

it prints

[code]

As you can see, this processor makes `line` property of the `no-empty-source` warning `undefined`.

### Expected result

In this case, I expect `line` to be `1` even if stylelint-processor-styled-components is enabled.

[2018-03-23 05:34] emilgoldsmith commented on #178
Hmm, well for one we recommend using our shared config that disables warnings that don't make sense with our processor (such as that one), but it seems you have some very specific use case you want to use here. It would probably be a pretty simple fix, I guess it's because there aren't any lines so we aren't building our sourcemaps and then `sourceMaps[1] = undefined`. If you want to look into thi

[2018-03-23 08:59] emilgoldsmith commented on #178
Oh okay, if it has further repercussions it could definitely something worth fixing, sorry, I just didn't see the usecase, we could even do something as simple as just outputting a default value of 1 as the line number

[2018-03-29 04:13] aehrt55 opened #179 "using sc-tag conflicts with standardjs"
[Repository to reproduce](https://github.com/aehrt55/standardjs-stylelint-styled-components-conflict-example)

I use both [standardjs](https://github.com/standard/standard) and stylelint-processor-styled-components to lint my component. When I add [sc-tag](https://www.styled-components.com/docs/tooling#interpolation-tagging) to avoid **CssSyntaxError**, **Standardjs** throw an error `Unexpected sp

[2018-03-29 04:24] emilgoldsmith commented on #179
Thanks for the repo to reproduce @aehrt55, that helps so much!

So let me be clear, it's only when you run the standardjs command that you get errors right? Not when you run `stylelint`?

[2018-03-29 04:29] aehrt55 commented on #179
@emilgoldsmith Yes, I get error when I run `standardjs`. But if I remove **sc-tag** from code, I will get error from `stylelint` and `standardjs` will lint correctly.

[2018-03-29 04:30] emilgoldsmith commented on #179
I think my best suggestion for you right now is to switch to `prettier` maybe, that seems to do the same job (I never used StandardJs before but from their webpage it sounds like it's a tool with a similar goal to Prettier). I just downloaded your repo and tried running prettier on it with standard options and it didn't cause any errors. Also, Prettier has put in significant effort to make it work

[2018-03-29 04:34] aehrt55 commented on #179
Thanks for your suggestion. I will try it.

[2018-03-29 04:37] aehrt55 commented on #179
I think `standardjs` is like a preset for `eslint`, it seems that `prettier` cannot replace what `standardjs` do.

[2018-03-29 04:39] emilgoldsmith commented on #179
Does this solve that issue? https://prettier.io/docs/en/eslint.html

[2018-03-29 05:25] emilgoldsmith commented on #179
Anyway, I'm closing this issue as there's of course nothing we can do about it directly, I'm afraid you'd probably have to ask standardjs to change the style they enforce :(. But feel free to ask any more questions and I hope that you figure out a good developer environment setup with our processor!

[2018-03-31 01:04] edahlseng commented on #165
What's the latest status on this issue (I'm not familiar with the codebase, and so I'm not following the discussion here...)? The problem still exists in v1.3.1.

[2018-04-01 11:37] #179 closed

[2018-04-01 11:38] emilgoldsmith commented on #165
No one has yet to take on solving the issue, @edahlseng feel free to be the one to do it

[2018-04-04 14:53] yoannmoinet opened #180 "Not working properly with stylelint 9.2.0"
Hi, I've had issue making this work with the latest stylelint 9.2.0.

Everything is working fine with a very basic config file and stylelint 9.1.3 (previous version)

[code]

It's outputting the errors correctly.
But when using with stylelint 9.2.0, nothing gets outputted.

I've tried removing the processor and having a basic css file, everything's working as intended.

Something from [this releas

[2018-04-04 17:28] danielbayerlein commented on #180
/cc @Algram

[2018-04-04 17:33] emilgoldsmith commented on #180
Since there aren't any hints in the changelog about something changing for processors it seems it may be unintentional breakage on the Stylelint side, could you please try submitting an issue there first and seeing what you get back? They may have broken the processor API

[2018-04-04 17:58] yoannmoinet commented on #180
Here you go @emilgoldsmith.
stylelint/stylelint#3252

[2018-04-04 18:19] emilgoldsmith commented on #180
Thanks! Let's see what they say

[2018-04-11 00:50] edahlseng commented on #165
@emilgoldsmith, I'm happy to take a look at solving, but I'm completely new to the codebase. Do you have any recommendations on where a good place to start looking may be?

[2018-04-16 15:22] mattfysh opened #181 "Parsing error when angle brackets used"
The following code causes the processor to silently fail:

[code]

After some playing around, I found the angled brackets are matching and preventing the file from being properly passed.

1. is this a processor issue, or an upstream stylelint issue?
2. the silent failing could be masking other issues.. any way I can find out which files are silently failing, e.g. perhaps if I run in verbose/debug

[2018-05-14 12:10] daviddelusenet opened #182 "Support styled-components-breakpoint"
I just installed [styled-components-breakpoint](https://github.com/jameslnewell/styled-components-breakpoint) inside of my project and noticed the following: CSS inside of breakpoint declarations doesn't get linted.

This is my code:

![screen shot 2018-05-14 at 14 06 11](https://user-images.githubusercontent.com/1398418/39996496-f839ca4c-577f-11e8-9e48-6c2b4fa09a2d.png)
]

When I run Stylelint in

[2018-05-15 06:00] chrishelgert opened #183 "styled-components with stylelint & babel-proposal-optional-chaining"
I am trying to use styled-components with stylelint and babel-proposal-optional-chaining.
As soon as a styled-components uses optional-chaining, stylelint will skip the whole file.

[code]

[code]

*Will not be linted:*
[code]

*Will be linted:*
[code]

*Demo Test:*
[code]

[code]

see also: https://spectrum.chat/?t=ff611509-9b98-4601-bfae-bc210675a069

[2018-05-16 16:37] #180 closed

[2018-05-17 11:13] greenkeeper[bot] opened #184 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`

If you’re interested in upgrading this repo to Node.js 10, you can <a href="https://github.com/styled-components/stylelint-processor-styled-components/compare/master...s

[2018-05-17 12:54] PsiXdev opened #185 "Processor replaces interpolations for comments, this raises the error of `comment-empty-line-before` stylelint rule"
I use **stylelint-config-standard** which contains the rule
[code]

If I try to process the following code (from the example, slightly modified):
[code]
then as a result I will get:
[code]
i.e
[code]

These **dummyComment**s violate the rule and stylelint throws errors:
[code]

A simple solution to the problem is to write like this:
[code]
Styles within the interpolation will continue to be valida

[2018-05-17 13:11] mxstbr commented on #185
We should disable that rule in the shared config most likely, mind opening an issue there? Thanks: https://github.com/styled-components/stylelint-config-styled-components

[2018-05-17 13:16] PsiXdev commented on #185
If this is the only solution, then yes. I thought that there could be another way of replacing interpolation without using dummy comments.

[2018-05-18 08:38] phoulgaux opened #186 "Errors reported on nested multi-line template strings"
Hello, I believe I have found in a bug regarding nested template strings, as described below. Minimal cases can be found in [this repo](https://github.com/phoulgaux/styled-components-stylelint). Any component in the array also exhibits this behavior on its own.

IMO this might be connected with #165

### As is
When running the linter on a file with nested multi-line templates (tagged or not), styl

[2018-05-18 09:14] phoulgaux commented on #186
Nevermind, it was an issue with `stylelint-config-standard`, someone else in the project has replaced `stylelint-config-recommended` with it.

[2018-05-18 09:14] #186 closed

[2018-05-20 03:33] chinesedfan commented on #185
Warnings caused by dummy comments should be removed, as well as mentioned in [#165](https://github.com/styled-components/stylelint-processor-styled-components/issues/165#issuecomment-360387723). But `stylelint-disable` only works for block interpolations, instead of inner ones like,
[code]

@PsiXdev Glad to hear that you have better ways than using dummy comments. Can you explain a little more?

[2018-05-20 03:36] chinesedfan commented on #180
@stramel Can you open a new issue with some details? Then we can track more effectively. Thanks.

[2018-05-20 04:01] chinesedfan commented on #183
@chrishelgert According to [src/parsers/babylon-parser.js](https://github.com/styled-components/stylelint-processor-styled-components/blob/master/src/parsers/babylon-parser.js), I think `optionalChaining` is not enabled by our processor.

@emilgoldsmith If it doesn't introduce too much extra burden, we can simply add `optionalChaining` to the list. Or we need consider to provide a way for users to

[2018-05-20 04:17] chinesedfan commented on #181
@mattfysh Can you provide your lint config, the processor version and your sample test file? I tested following codes with a simple rule `"value-list-max-empty-lines": 1`, but correct errors are always reported, no matter I commented `const styles` or not.

[code]

[2018-05-20 11:40] mattfysh commented on #181
Upgrading stylelint from 9.2.0 to 9.2.1 has fixed this

[2018-05-20 11:41] #181 closed

[2018-05-21 15:28] stramel opened #187 "Unable to lint CSS and Styled Components with processor enabled"
Using `v9.2.1` I am able to lint styled-components once again, however I am not able to lint CSS files while the processor is enabled.

[2018-05-21 15:36] emilgoldsmith commented on #187
This was never possible, you will need to use a different Stylelint config that doesn't include our processor in order to lint CSS files

[2018-05-21 18:58] stramel commented on #187
Dang, that makes it difficult for handling stylelint through vscode.

[2018-05-22 06:25] daviddelusenet commented on #182
@chinesedfan what do you mean with 'treated as black boxes'?

[2018-05-22 07:19] chinesedfan commented on #182
@daviddelusenet That means the processor doesn't know contents of interpolations. So `${breakpoint('xx')/* css */}` is like `/* black boxes */`.

[2018-05-22 08:10] daviddelusenet commented on #182
Ah ok, thanks.

However, don't you think stuff like this needs to be supported? As the popularity and usage of Styled Components grows a lot more people will start using tools like `styled-components-breakpoint`.
Not knowing the contents of interpolations means that literally no tool EVER will be supported.

I don't think this is the way the go since you'll be basically killing this processor. May

[2018-05-22 08:42] emilgoldsmith commented on #182
@daviddelusenet it's not by choice that they are black boxes, it's because interpolations are JS, and we only do static code analysis, which I'm pretty sure is also what ESlint does, unless we evaluate the javascript (which very often would include evaluating imported variables from other libraries and files etc. which really quickly becomes close to an impossible task) we don't know what to lint.

[2018-05-22 08:44] emilgoldsmith commented on #187
Yeah, it sucks. If you want to there might be ways around it, if we could somehow detect whether a file is purely CSS and not JS, such as possibly look at the extension of a file, or use a library that can look at the statics of the code and check whether it parses correctly as CSS and then in that case not apply our processor to it but just pass it through to Stylelint as is. In that case it coul

[2018-05-22 13:15] Jariway opened #188 "Conflict between Stylelint and Atom Beautify"
When formatting the text with Atom these errrors appear. The problem is solved after removing the spaces, but It's quite anonying. ¿Any solution?
![captura](https://user-images.githubusercontent.com/17798459/40364552-ee6fe376-5dd2-11e8-80e6-dedd33c34de0.PNG)

[2018-05-22 14:05] chinesedfan commented on #188
This is the project of `styled-components/stylelint-processor-styled-components`, but not `stylelint`. I think error descriptions are very clear: expected indentation of 2 spaces and end-of-source newline.

To solve your problem, you can go to [stylelint/stylelint](https://github.com/stylelint/stylelint) to find ways to config stylelint compatible with `beautify`.

[2018-05-23 06:36] chrishelgert commented on #183
i think it would be great it the users could extend the configuration for the parser 👍
i am pretty sure there will come another plugins/proposals that will change the JS syntax

[2018-05-24 02:26] #188 closed

[2018-05-24 06:39] PsiXdev commented on #185
@chinesedfan I have no concrete proposals yet. I will try to look for options as soon as I have a little more time.

[2018-05-25 11:50] ezhlobo opened #192 "How to deal with components without styles but with attrs"
When we use `block-no-empty` rule and write code like:

[code]

It raises a warning. It's expected behavior and I see two options to resolve my issue:
1. Turn off `block-no-empty` rule
2. Add inline comments to each case

Do you think we can not raise warning in cases when we pass just attributes without defining styles?

[2018-05-28 15:41] kuzkokov opened #193 "get duplicate selector error, but there is no duplicate selector"
Hello guys. So I have this peace of code:

[code]
And I get a next issues:

If run stylelint with --fix flag I get this:
[code]

I'm not sure, but I think this processor is causes the issue. Or am I doing something wrong?

[2018-05-29 02:42] chinesedfan commented on #193
@kuzkokov The processor can not always parse interpolations with right things. But you can use [interpolation-tagging](https://www.styled-components.com/docs/tooling#interpolation-tagging) to help it.

[code]

[2018-05-29 02:42] #193 closed

[2018-05-29 11:05] kuzkokov commented on #193
Thanks for pointing, it's worked.

[2018-05-29 13:24] joggienl opened #194 "comment-empty-line-before when using example media template function"
I am experiencing a stylelint error: `Expected empty line before comment comment-empty-line-before` when using the media template function to write media queries. The code corresponding to this is on the styled-components homepage: https://www.styled-components.com/docs/advanced#media-templates

[code]

If I would now create a component as following, stylelint will give me a couple of errors.

[co

[2018-05-30 15:45] mvasin opened #195 "JS style comments support is missing"
`styled-components` support JS-style comments `//`, but the linter is unaware of that; I get
[code]

[2018-05-30 17:08] Undistraction commented on #194
I'm seeing this too when using interpolations:

[code]

This is flagged at the point of each interpolation as:

Other than commenting every time I use an interpolation (as per @joggienl's examples above), the only way to prevent the errors is to remove all whitespace, making things a lot less readable.

Is there any way you can allow whitespace before interpolations?

[2018-05-30 17:13] Undistraction opened #196 "Incorrect flagging of JavaScript Object as 'Multiline Declaration'"
This is OK:

[code]

This is flagged as an error:
[code]

The latter is much more readable.

Error:

![cap](https://user-images.githubusercontent.com/161489/40734621-df73fc7c-6430-11e8-9672-da11573950ae.jpg)

[code]

- stylelint-processor-styled-components@1.3.1
- stylelint@9.2.1

[2018-05-31 03:06] #183 closed

[2018-05-31 03:08] chinesedfan commented on #195
@mvasin Please provide code snippets and your packages version. According to #156, it should work.

[2018-05-31 07:11] mvasin commented on #195
Sure! The '//' problem is at line 110. You can also notice problem at line 91, but I guess that's another issue.

<img width="835" alt="screen shot 2018-05-31 at 10 08 39" src="https://user-images.githubusercontent.com/12434833/40767247-a282f55e-64ba-11e8-877c-41c8fda8b2f0.png">

Here are the packages I use:
[code]

[2018-05-31 07:56] chinesedfan commented on #195
Try to run with `"lint:css": "stylelint './src/**/*.js'  --syntax scss"`

[2018-05-31 08:33] Undistraction opened #199 "JS-style Comments Incorrectly Flagged as [style-lint] Unknown word (Css Syntax Error)"
Using JS-style comments (which is [supported](https://github.com/styled-components/stylelint-processor-styled-components/pull/164)) inside a styled component's backticks results in the comment being flagged as an error:

## Example
[code]
The first `/` will be flagged with:

## Workaround

The only workaround is to add a disabling comment before the comments.

tylelint-processor-styled-components@

[2018-05-31 08:35] Undistraction commented on #199
Sorry. There is already an issue #195

[2018-05-31 08:35] #199 closed

[2018-05-31 08:37] Undistraction commented on #195
Same problem here.

Simple Example:

[code]

The first `/` is flagged with:

[2018-05-31 08:45] Undistraction commented on #195
@chinesedfan If I run it with `--syntax css` the error is not flagged, however other errors (that aren't present when running it without *are* flagged.

[2018-05-31 08:48] chinesedfan commented on #195
@Undistraction `--syntax scss`, instead of `--syntax css`. If you are still confused with new errors, please reopen #199 and provide your detail environments information like above.

[2018-05-31 08:50] joggienl commented on #194
To be extra clear from my side, the comments in the examples I used are not giving these errors. As soon as I do an interpolation to the `media` function, it does.

[2018-05-31 09:02] Undistraction commented on #195
@chinesedfan Are you saying users of this plugin must use `--syntax scss` for it to function correctly?

[2018-05-31 09:38] chinesedfan commented on #195
@Undistraction According to https://github.com/styled-components/stylelint-processor-styled-components/issues/156#issuecomment-367418339, I am afraid it is.

Can you paste `other errors`? BTW, we have updated `stylelint-config-standard` to `stylelint-config-recommended` in the README.

[2018-05-31 10:39] Undistraction commented on #195
@chantastic Thanks very much. I think some of issues lay there.

So shouldn't the config in the README include this?

[code]

[2018-05-31 10:46] Undistraction commented on #196
This is fixed by switching from `stylelint-config-default` to `stylelint-config-recommended`,

[2018-05-31 10:46] #196 closed

[2018-05-31 10:48] Undistraction commented on #194
@joggienl Are you using `stylelint-config-recommended`? in your `.stylintrc`?

[2018-05-31 11:03] chinesedfan commented on #156
@emilgoldsmith Hi, what do you mean `It is stated in the README`? I didn't find it.

[2018-05-31 11:05] chinesedfan commented on #195
@Undistraction Right. I will confirm with @emilgoldsmith in #156. (And you pinged `chantastic` by mistake. 😆)

[2018-05-31 11:16] joggienl commented on #194
@Undistraction, I am using the standard as provided per react-boilerplate. Which is configured in the package.json by the way, not in a separate `.stylelintrc` file.

I am not sure what you mean with "old recommendation". The `stylelint-config-standard` extends `stylelint-config-recommended`, so it is not an "older" version, it just turns on more additional rules for stylelint.

See https://github

[2018-05-31 11:17] Undistraction commented on #195
Sorry chantastic (I won't ping you again to apologise).

FWIW I'm still seeing the comments being flagged with the following config:

[code]

[2018-05-31 11:31] mvasin commented on #195
With the config above, most other errors went away, but the original `//` error (and one more) persist. Is it some overlooked edge case? Here's the screenshot.
<img width="1269" alt="screen shot 2018-05-31 at 14 28 47" src="https://user-images.githubusercontent.com/12434833/40779861-2d4b154e-64df-11e8-8f88-0350ce6f72f2.png">

[2018-05-31 11:54] mvasin commented on #195
It still gives false positives even in the simplest case:
[code]

=>
[code]

[2018-05-31 12:01] Undistraction commented on #194
I mean old as in that was what _was_ recommended by this lib.

[2018-05-31 13:02] emilgoldsmith commented on #156
Oh this is no longer relevant as of #170

[2018-05-31 13:03] #184 closed

[2018-05-31 13:54] chinesedfan commented on #195
@mvasin Can you try with `--syntax scss`?

@Undistraction According to #170, the `syntax` field in the config file does not work. You have to add it in the CLI options. If confirmed, I will try to update our documents.

[2018-05-31 14:17] Undistraction commented on #195
@chinesedfan I couldn't see any mention of needing to use the CLI opts in the linked issue and unfortunately I'm using VSCode with an extension to run stylelint which doesn't allow you to pass in opts.

Anyway, this needs to be added to README as this is far from obvious, and I'm assuming most people will experience this as soon as they use JS-style comments.

[2018-05-31 15:12] mvasin commented on #195
@chinesedfan Indeed, `"lint:css": "stylelint './src/**/*.js' --syntax scss"` in package.json indeed solves the `//` problem.

It's all very confusing, I thought `"syntax": "scss"` and `--syntax scss` have equal effect. Even more confusing is [this issue](https://github.com/styled-components/stylelint-processor-styled-components/issues/170) about removing `"syntax": "scss"`.

Why do we have to spec

[2018-05-31 15:48] chinesedfan commented on #195
@Undistraction Sorry for that I can't give you more suggestions. Maybe you really have to open an issue in [styled-components/vscode-styled-components](https://github.com/styled-components/vscode-styled-components) and I am glad to be @ and receive progresses.

@mvasin You can read more in https://github.com/stylelint/stylelint/issues/2973.

It is due to js-style comments are not valid in `css`, b

[2018-05-31 15:48] #195 closed

[2018-05-31 15:51] Undistraction commented on #195
@chinesedfan Thanks for your help. I'll open an issue and link you in. It's a shame this can't be part of the processor so it is configured automatically.

[2018-05-31 17:28] emilgoldsmith commented on #195
Hey guys, if any of you have the time, I'd be curious if you could write a unit test that fails? Because our tests that were introduced in #164 all pass. Is it because you're using an old node version or something weird?

And we don't use any of those options you guys talk about (and also what is explained in #170 @mvasin was that apparently we had been using that config option but it actually doe

[2018-05-31 18:06] mvasin commented on #195
@emilgoldsmith I ran the `stylelint-processor-styled-components` test suite and it passes. I'll try to contribute a failing test.

[2018-05-31 18:46] mvasin commented on #195
Here are my current steps to reproduce a failing test:

1. Clone the `stylelint-processor-styled-components` repo
2. Rename `stylelint-processor-styled-components` in `package.json` to anything else to be able to install `stylelint-processor-styled-components` from npm on the next step.
3. `npm install stylelint-processor-styled-components stylelint-config-recommended stylelint-config-styled-compo

[2018-05-31 18:50] mvasin commented on #195
I think the test suite should resemble readme recommendations as close as possible - include and use `.stylelintrc` as readme suggests.

[2018-05-31 19:50] emilgoldsmith commented on #195
That's very helpful @mvasin, thanks! I'm afraid I don't have the time to look further into this at the moment, but this is definitely very helpful and is something that should be investigated further by someone who has the time!

[2018-06-01 09:45] joggienl commented on #194
Thanks for the extra explanation @Undistraction!

I checked, with the `styled-config-recommended` I do not get the error as described. But since there are a lot of rules not defined that would also make sense.

I think this error should still not appear when working with the `styled-config-standard` package. For me it provides a lot of sane defaults I like to use to write my styled-components with

[2018-06-01 12:45] Undistraction commented on #194
@joggienl That makes sense. I'm using prettier so I'm alright with this decision. I really recommend switching to prettier. It's one of the biggest development time-savers you can find. It's certainly tough to accept some of its decisions, but after not so long you will be glad you switched.

[2018-06-01 13:47] joggienl commented on #194
most probably some day I will, but that is not related (and feasible) right now ;-)

[2018-06-02 07:34] Undistraction commented on #195
FWIW the owner of the style-lint VSCode plugin will not add the ability to pass command line args through to stylelint: https://github.com/shinnn/vscode-stylelint/issues/209#issuecomment-394055506 The only other solution (other than enabling this via this plugin) is to try and get styelint to add the `syntax` key in `.stylelintrc`, but the issue [here](https://github.com/stylelint/stylelint/issues

[2018-06-02 09:42] chinesedfan commented on #195
@Undistraction I remind you to clarify differences between https://github.com/stylelint/stylelint/issues/2973 use cases and yours. Because that issue is requesting supports in `.vue` files, which can be resolved by `<style lang="scss">`. But you have nothing to indicate the syntax.

Good luck and I am still glad to be @ with. 😄

[2018-06-03 10:13] mvasin opened #200 "Parameterized property names won't pass"
Here's a line of SC code that works perfectly fine
[code]
but does not pass linting
[code]

[2018-06-12 09:11] emilgoldsmith commented on #187
If you want to try working on it feel free to ask any questions if you encounter any problems

[2018-06-12 11:13] gucong3000 commented on #133
https://github.com/stylelint/stylelint/issues/3264

[2018-06-12 18:23] brandonkal commented on #187
I'm not even sure how I would begin.  This is pretty complex because even if this processor could be bypassed when a CSS file is detected there is still the matter of getting stylelint to ignore the "stylelint-config-styled-components" extension. I am not sure if that is possible.

Right now I have it set up this way: most of my plain CSS is in one directory with its own .stylelintrc file.

In the

[2018-06-13 14:55] emilgoldsmith commented on #187
Oh that's interesting, yeah changing the rule config is probably not something you can get around without something hacky like that. Either you'd have to just let the rules we disable in the `styled-components` config still be disabled (they aren't generally super crucial?) or do something like the above.

[2018-06-18 00:58] danbriggs5 opened #201 "no-descending-specificity error across components"
I'm getting a stylelint error: `no-descending-specificity`.

Given the simplified code:
[code]

The error:
` 18:2  ✖  Expected selector ".selector2 > a" to come before selector ".selector1 > a:hover"   no-descending-specificity`

It is the `> a` selector in the second component that gets the error.

It appears that the `&:hover` from the first component is effecting the lint on the second componen

[2018-06-26 01:08] danbriggs5 commented on #201
@chinesedfan Thanks for finding that. It looks like the same error to me. I should have run a test with just stylelint before posting here. Thanks again!

[2018-07-02 00:20] gex opened #202 "interpolate tagging for media queries?"
hello,

i try to lint my styled components with [stylelint order plugin](https://github.com/hudochenkov/stylelint-order) and i don't know how to tag my tagged template literals i use for media queries.

my example component:

[code]

for this i get an `Expected -styled-mixin0 to come before width` error. as far as i understand i need something like `${/* sc-block */ desktop``}` but it didn't help.

[2018-07-02 06:18] emilgoldsmith commented on #202
Ahhh, okay, the thing is what `sc-block` does is replace your interpolation with `styled-mixin` (which is also what our processor guesses is the right thing to do, so it's the same with or without the tag for now). I'm afraid that we do not support making your own blocks as of right now, and the best we offer is exactly the custom tag. So I see two possible solutions for you:

1. Use the custom ta

[2018-07-02 11:41] chinesedfan commented on #202
@gex I think `sc-custom` has given you the ability to declare anything that need to be replaced with. For you example, how about simply disable the linting of interpolation by `/* stylelint-disable */` and recover by `/* stylelint-enable */`?

[code]

[2018-07-02 17:08] gex commented on #202
@chinesedfan i was under the impression that the css rules inside my `desktop` interpolations are linted by stylelint. i had some issues with syntax highlighting in atom and i fixed that with [these steps](https://github.com/gandm/language-babel/issues/380). now i understand it wasn't about syntax highlighting only.

@emilgoldsmith i'm gonna try to add a pull request but it would be nice to solve

[2018-07-02 17:33] emilgoldsmith commented on #202
Hmm I'm not sure I understand the details of what you're saying @gex but I'll clarify something I'm not sure whether you understand or not:

Our processor doesn't evaluate any Javascript whatsoever, it just reads your file as a static text file and parses the meaning of the Javascript without any evaluation and tries to extract the CSS to give to Stylelint so it can lint it. That means that we don

[2018-07-02 18:37] gex commented on #202
@emilgoldsmith linting was always magical for me so thank you for making it more clear! :)

let me rephrase my questions. i'd like to solve two problems:

1. i'm using the stylelint order plugin and i didn't know how to tell the processor that my interpolation is a media query. i can move my mixin into the properties to keep the alphabetical order but that's not readable in my opinion or i can use

[2018-07-02 18:38] gex commented on #202
...aaaand i just found #182 😇

[2018-07-02 21:58] emilgoldsmith commented on #202
I don't think we will ever support extracting anything from an interpolation to be honest, it'll be very hard to generalize it without evaluating CSS. I guess one could make a specific tag for breakpoints since it's a reocmmended SC pattern, and wraps it in a media query. It could then recurse on the TTL inside the interpolation. It would be a pretty custom case though, and not sure if enough user

[2018-07-06 10:57] trainoasis commented on #201
Anyone fixed this somewhere already? Many threads about this but no solution so far? :)

[2018-07-19 11:57] rylek90 opened #204 "Missing semicolon not detected"
I use `stylelint-processor-styled-components` with Emotion. With current update Emotion doesn't automatically add semicolons at the end of expression. However missing semicolons are not detected by plugin

My stylelint config:
[code]

Linted code (with missing semicolons):
[code]

I use `stylelint --syntax scss`

[2018-07-21 11:30] chinesedfan commented on #204
Hi @rylek90, which stylelint rule do you think will be violated if semicolons are missing?

[2018-07-21 12:32] rylek90 commented on #204
Hmm, that would be a simple CssSyntaxError I believe 🤔

[2018-07-21 15:32] chinesedfan commented on #204
Yes, I tested with a simple code snippet and got CssSyntaxError. Can you give detailed versions of your stylelint and related packages? Or the link of the problem project directly?

[2018-07-23 07:17] rylek90 commented on #204
@chinesedfan versions are following:
[code]

[2018-07-23 15:01] chinesedfan commented on #204
@rylek90 I still got CssSyntaxError. What is your expectation?

By the way, you set `stylelint-config-recommended` in stylelint configuration, but why is `stylelint-config-standard` used?

[2018-07-23 19:44] rylek90 commented on #204
@chinesedfan my apologise, I've spot the error finally. It seems like it has problems with js decorators. Here is a minimal repo to reproduce https://github.com/rylek90/StyledComponentsBug

[2018-07-24 15:37] chinesedfan commented on #204
@rylek90 I see. It is due to the babylon error isn't be thrown by our processor. #163 has tried to handle it but not finished yet.

[code]

[2018-07-26 09:07] Voronar commented on #192
The same thing for this case:
[code]

[2018-07-29 18:02] kyleramirez opened #206 "Deletes entire contents of .scss files"
I'm ditching this processor because it lost my trust and confidence, and it really isn't useful unless you get --fix to work. For those who see this in the future, this processor and the other `stylelint-config-styled-components` was developed so irresponsibly and narrow-mindedly that it will literally delete the contents your existing .scss files if you modify them. When used in combination with

[2018-07-29 23:05] emilgoldsmith commented on #206
You know this is an open source project and people are contributing their spare time to improve it, right? Maybe you should've done the same instead of being so ungrateful. Also, read the documentation, we aren't hiding from the lack of `--fix` which is not supported by Stylelint (it's impossible for processors to support it)

[2018-07-29 23:05] #206 closed

[2018-07-30 11:56] karolisgrinkevicius opened #207 "No linting inside styled-is and media mixin"
Hi. Not sure this issue might belong to `stylelint-processor-styled-components` but in fact linter ignores css within `styled-is` and `media` mixins described [here](https://github.com/styled-components/styled-components/blob/master/docs/tips-and-tricks.md#media-templates).

Please see the code snippet below which represents the parts that not working against linter even though configuration is se

[2018-07-31 16:03] chinesedfan commented on #207
Please refer to #182. It is hard to lint interpolations now.

[2018-08-14 02:08] ZxBing0066 opened #208 "Wrong lint result"
There is a lot of wrong lint results when I use stylelint like below:

![image](https://user-images.githubusercontent.com/5652404/44067612-f3561d3e-9fa8-11e8-9e65-12f4cb99b1f4.png)
![image](https://user-images.githubusercontent.com/5652404/44067614-f6085e16-9fa8-11e8-970c-1c4f71b52582.png)
![image](https://user-images.githubusercontent.com/5652404/44067831-ebcbc752-9fa9-11e8-8195-0788b0c3f38e.png)

[2018-08-14 08:42] chinesedfan commented on #208
@ZxBing0066 Please refer to #193. Using [interpolation-tagging](https://www.styled-components.com/docs/tooling#interpolation-tagging) is one of workarounds.

If you want to solve it completely, feel free to join #110 and share your solution.

[2018-08-14 08:42] #208 closed

[2018-08-15 16:14] probablyup opened #209 "Upcoming API changes in styled-components v4"
Just a heads-up that we will be making some top-level API changes in v4 that may affect your library.

1) `injectGlobal` is being removed
2) `createGlobalStyle` is being added

`createGlobalStyle` can likely inherit any syntax highlighting rules you may have been using for `injectGlobal`, `styled.*` etc.

More info: https://github.com/styled-components/styled-components/pull/1867

[2018-08-24 19:49] ubnt-marc-khouri opened #210 "Typed parameters cause file to be ignored"
When using typed parameters for styled-components in Typescript, stylelint skips the file and reports no output at all for it. Note that the method of typing illustrated before is slightly different than the one used in [your typescript test](https://github.com/styled-components/stylelint-processor-styled-components/blob/master/test/fixtures/typescript/ts-syntax-valid.ts#L14). I'm not certain how

[2018-08-25 06:38] chinesedfan commented on #210
Very detailed issue! It should be solved by #163, but was hanging there so long. I will try to merge it as soon as possible.

If the processor throws out the real error, we can see following messages.

[code]

[2018-08-25 23:37] techieshark commented on #187
I like the lint script in `package.json` that @brandonkal shared, as a workaround to this problem. One little update folks might want, because `&&` will not run the second command if the first fails (I'm assuming people actually want to see errors from either, but ultimately return an exit code if either fails):

[code]

(Based on [this from SO](https://stackoverflow.com/a/16081218/1024811).)

[2018-08-26 04:46] techieshark commented on #187
Stylelint can be used in VS Code, on both CSS and JS code, by using an npm script (similar to the above) to lint both .css and .js/.jsx files, and then setting up a VS Code task and problem matcher.

After setting up (description below), from the VS Code command palette, you'll run "run task > vscode:stylelint", and then you should see output like this:

![image](https://user-images.githubusercont

[2018-08-31 18:50] brettjurgens commented on #210
@chinesedfan I think the issue is with the version of babylon in the project not supporting tagged templates generics (which was added in [2.9](https://github.com/Microsoft/TypeScript/wiki/What's-new-in-TypeScript#generic-type-arguments-in-generic-tagged-templates))

I've opened #212 which upgrades babel to v7 and this is fixed

[2018-09-08 13:17] caribou-code commented on #165
Just wondering if there's any progress with this? I have these linting errors in version 1.3.2 and not sure how to get around it with either disabling the rules globally or disabling them for a file/line which doesn't feel right.

[2018-09-10 13:03] Undistraction opened #215 "Styleint Treats Multiple Components As Same Component"
The following two components defined in the same file results in an error:

**Components**
[code]

**Error**
[code]

**Expected**
Each component should be evaluated separately.

- Node 8.11.3
- "stylelint": "^9.5.0",
- "stylelint-config-recommended": "^2.1.0",
- "stylelint-config-styled-components": "^0.1.1",
- "stylelint-processor-styled-components": "^1.3.2"

[2018-09-11 09:51] Undistraction commented on #215
@chinesedfan That seems like a pretty big issue to me because it forces you to define your components in an order just to satisfy the processor. It could also potentially lead to cases that cannot be satisfied by changing component order.

[2018-09-11 15:09] Undistraction opened #216 "False Positive: Unexpected Duplicate Selector"
# Code
[code]
# Error
` 17:31  ✖  Unexpected duplicate selector ".selector10 ", first used at line 10   no-duplicate-selectors`

# Versions
- Node 8.11.3
- "stylelint": "^9.5.0",
- "stylelint-config-recommended": "^2.1.0",
- "stylelint-config-styled-components": "^0.1.1",
- "stylelint-processor-styled-components": "^1.3.2"

[2018-09-12 05:51] chinesedfan commented on #216
Similar with #193. Before someone made the substitution logic more clever, [interpolation-tagging](https://www.styled-components.com/docs/tooling#interpolation-tagging) is one of workarounds.

[2018-09-12 17:16] Undistraction commented on #216
@chinesedfan Thanks. The following worked:

[code]

[2018-09-12 17:17] Undistraction opened #217 "No Interpolation Tag For Media Query"
# Problem

The following code gives three errors:

- [stylelint] Unexpected duplicate selector ".selector283 ", first used at line 1 (no-duplicate-selectors)
- [stylelint] Unexpected duplicate selector ".selector283 ", first used at line 1 (no-duplicate-selectors)
- [stylelint] Unexpected duplicate selector ".selector283  > *", first used at line 4 (no-duplicate-selectors)

![screenshot 2018-09-12

[2018-09-13 00:42] r3oath opened #218 "No output / results."
**Versions**
[code]

**Command being run**
`node node_modules/.bin/stylelint "pages/index.js"`

**File in question**
[code]

**Results**
Nothing, no output.

Any ideas what's going wrong here? I know I'm using the beta version of `styled-components`, but the same thing is happening on the latest stable `3.*` version.

[2018-09-13 02:57] chinesedfan commented on #216
@Undistraction OK. I will close this issue. If #110 was implemented, things will be better.

[2018-09-13 02:57] #216 closed

[2018-09-13 03:01] chinesedfan commented on #217
Duplicated of #202.

[2018-09-13 03:01] #217 closed

[2018-09-15 02:53] chinesedfan commented on #209
Seems solved by https://github.com/styled-components/stylelint-processor-styled-components/commit/63f270498bb7c2f42a8f4668826e62dd66d3bdf2.

[2018-09-15 04:39] chinesedfan commented on #54
@daviddelusenet The reason is that `sc-selector` is always replaced with `div`. I tries to fix it as dynamic selectors in #219, i.e. `.sc-selector1`, `.sc-selector2`.

[2018-09-17 05:38] #210 closed

[2018-09-17 10:57] #204 closed

[2018-09-18 12:46] KITSDominicWhite opened #221 "Stylelintrc Property No Unknown Enhancement"
Currently we have the following .stylelintrc:

[code]

As you can see we have to declare the nth-last-child for each option that we use. Is there a potential that this could be improved so that it just takes nth-last-child and deals with any value at the end?

[2018-09-18 12:57] KITSDominicWhite opened #222 "Double Colon CssSyntaxError"
Currently we have:

`modifier: css':nth-last-child(1) ${StyledText}::before'`

when running Stylelint under this processor it comes up with the following:

[code]

However, before is a pseudo-element [https://www.growingwiththeweb.com/2012/08/pseudo-classes-vs-pseudo-elements.html] which should be prefixed with a double colon rather than single. The CSS for this we are trying to test is:

[code]

[2018-09-19 01:11] chinesedfan commented on #222
@KITSDominicWhite Sorry, I am not very clear with your problem. What do you mean 'a single on one' and 'double on the other'? Can you give different code snippets with detailed stylelint configs and  package versions?

[2018-09-20 14:45] chinesedfan commented on #221
@KITSMarkShulhin Sorry, I didn't reproduce those warnings. Can you paste detailed versions of stylelint related packages? Although you may use [regular expressions](https://stylelint.io/user-guide/rules/property-no-unknown/#ignoreproperties-regex-string) to filter every `nth-last-child`.

[2018-09-20 14:56] KITSMarkShulhin commented on #221
@chinesedfan I put our versions to the image below. Great point about regular expressions, thank you!
I will try to setup reproduce case a bit later and will paste it here. Thanks for quick responses ☺️
![versions](https://user-images.githubusercontent.com/41433562/45827108-71195200-bcfe-11e8-98db-a5b44a0c4ccb.png)

[2018-09-20 15:45] KITSMarkShulhin commented on #221
@chinesedfan  I've managed to reproduce the issue.
Turns out that this error occurs in the unit tests when we use `css` method from styled-components to make selectors that based on other components.
Simple `modifier: ':last-child'` works like a charm, but when we add the css wrapper it doesn't recognize any pseudoclasses. I left the code for playback below.

Example `component.js`
[code]
And the

[2018-09-22 09:40] chinesedfan commented on #221
@KITSMarkShulhin I suggest you to exclude `component.test.js` from lint files. Because `${TestLi}:first-child` is just a selector, instead of valid css.

[2018-09-23 02:12] chinesedfan commented on #222
According to #221, I guess you want to lint `:nth-last-child(1) ${StyledText}::before`. It is really not a valid CSS snippets.

[2018-09-24 06:01] KITSDominicWhite commented on #222
@chinesedfan The specific issue that is gathered here is the : in the before. There is a further discussion around the nth-last-child which I raised separately.

My point is in CSS; before should be pre-appended with a double colon. If this is the case, it fails.

It must be a valid CSS snippet, as it validates as correct with a single colon...

[2018-09-24 10:10] KITSMarkShulhin commented on #221
@chinesedfan Well, that makes sense. Excluding all the test files should solve our problem, thank you for help :) Maybe we should leave some notation in the docs about this?

[2018-09-25 10:35] chinesedfan commented on #221
@KITSMarkShulhin Yes, it can be mentioned in `jest-styled-components` or `styled-components-website`. Feel free to send a PR.

[2018-09-25 10:43] chinesedfan commented on #222
@KITSDominicWhite Do you mean `modifier: css':nth-last-child(1) ${StyledText}:before'`? Notice a single colon is before `before` and the origin codes should use back quotes to wrap css.

I think this processor can not lint `modifier` as discussed in #221.

[2018-09-25 18:29] StevenLangbroek opened #223 "Unknown word CssSyntaxError on multiple interpolations per line"
I'm experiencing some trouble getting stylelint to behave, and I'm unsure whether this is a bug or I can maybe help the processor along a bit better. I have quite a simple component:

[code]

The 2 interpolations in 1 value (which are essential for controlling individual border radii) trips up the processor, leading to this error:

[code]

Any idea what's going on here? If it's a bug I'd gladly he

[2018-09-26 05:13] chinesedfan commented on #223
@StevenLangbroek Sorry, can you provide more information, like stylelint config and related packages versions? I didn't reproduce this problem.

[2018-09-26 08:44] StevenLangbroek commented on #223
Huh. Funny story. We discussed stylelint in a discussion about code quality, I suggested adding it to our project, only to find after running `yarn add` that it was already in the project. I was pretty sure it'd been upgraded to `latest`, but apparently we were still running - *wait for it* - `0.10.0` 😂

[2018-09-26 08:44] #223 closed

[2018-09-27 08:49] chinesedfan commented on #110
Implemented above heuristic guessing by #219. Not 100% accurate, but should be better than doing nothing.

[2018-09-27 08:49] #110 closed

[2018-09-27 08:50] chinesedfan commented on #185
The new released v1.4.0 should solved it.

[2018-09-27 08:50] #185 closed

[2018-09-27 08:50] #194 closed

[2018-09-27 08:50] #165 closed

[2018-09-28 07:54] #178 closed

[2018-09-28 20:54] greenkeeper[bot] opened #227 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/cli](https://www.npmjs.com/package/@babel/cli) was updated from `7.1.0` to `7.1.1`.
- The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.1.0` to `7.1.1`.
- The `dependency` [@babel/parser](https://www.npmjs.com/package/@babel/parser) was updated from `7.1.0` to `7.1.

[2018-10-01 14:16] thomas88 opened #228 "`exportDefaultFrom` error from parser after upgrade to 1.4.0"
I'm currently in the process of updating from version `1.3.2` to `1.4.0`. As I can see from the changelog, babel errors are now shown to users. I'm now getting a few of those:

    This experimental syntax requires enabling the parser plugin: 'exportDefaultFrom' (1:7)

The files where this occurs are very simple e.g.:

    export Container from './Container';

How can I configure the parser used b

[2018-10-02 16:12] chinesedfan commented on #228
@thomas88 #229 should provide a way to config babel. You can try it locally and I will publish later.

[2018-10-04 04:45] chinesedfan commented on #228
v1.5.0 has been published.

[2018-10-04 15:31] thomas88 commented on #228
Awesome, thanks for the quick fix @chinesedfan! I've now added `exportDefaultFrom` to the default plugins and it works again.

A question from my side: I think it would be better if the plugin could simply use the same configuration as I use for babel i.e. `.babelrc` / `babel` prop in `package.json`. Does this not work? Do you think this is a bad idea?

[2018-10-05 14:18] chinesedfan opened #231 "Support common ways to config babel"
As suggested in #228, hope this processor read babel configurations from `.babelrc` or `package.json`.

[2018-10-05 14:19] chinesedfan commented on #228
@thomas88 Good idea. I created #231 to remind later developers.

[2018-10-08 12:12] undeadcat opened #232 "Wrong error location reported if error is on first line of template string"
## Environment

### npmPackages:
 - @types/styled-components: ^3.0.1 => 3.0.1
 - styled-components: ^4.0.0-beta.8-unpure => 4.0.0-beta.8-unpure
 - stylelint: ^9.6.0 => 9.6.0
 - stylelint-config-recommended: ^2.1.0 => 2.1.0
 - stylelint-config-styled-components: ^0.1.1 => 0.1.1
 - stylelint-processor-styled-components: ^1.5.0 => 1.5.0
### .stylelintrc:
[code]
## Reproduction
Run `node_modules/.bin/

[2018-10-08 14:16] chinesedfan commented on #232
@undeadcat Thanks for reporting! You're right that only line numbers are fixed, but column numbers are not. And only the column number of the first line will be wrong.

I will try to fix it before next week, without a promise. If you're interested, feel free to send a PR. The main idea is to save column offset of interpolations' first line, for example in [interpolationLines]( https://github.com/s

[2018-10-08 20:16] jvega commented on #187
Hi, @emilgoldsmith Do you accept a PR for that?
I need that PR https://github.com/gucong3000/postcss-syntax/pull/36 gets accepted to make PR here
you can check the progress in my [fork](https://github.com/jvega/stylelint-processor-styled-components)
BTW issues #163, #206 are related

[2018-10-09 04:58] emilgoldsmith commented on #187
Yeah sure feel free to submit a PR like that

[2018-10-10 10:37] Ky6uk opened #233 "Support special comments"
It looks the current version of this processor doesn't support stylelint's special comments like
* `/* stylelint-disable */`
* `/* stylelint-disable-next-line */`
* etc.

I was trying to suppress errors in my `.ts`/`.js` files by using those, but errors still exist.

[2018-10-10 10:46] chinesedfan commented on #233
@Ky6uk Please follow the issue template. At least give enough information. Or we may not able to reproduce the problem. Thanks!

[2018-10-10 11:29] Ky6uk commented on #233
It looks like a stylelint's bug.

[2018-10-10 11:29] #233 closed

[2018-10-11 05:47] arvigeus commented on #232
I can confirm this, but for some reason sometimes it works properly, sometimes - not.

[2018-10-11 13:50] lonyele opened #234 "No source checked and no outputs"
## Environment

    "styled-components": "^3.4.10",  or the latest version 4@beta
    "stylelint": "^9.6.0",
    "stylelint-config-recommended": "^2.1.0",
    "stylelint-config-styled-components": "^0.1.1",
    "stylelint-processor-styled-components": "^1.5.0"

.stylelintrc
[code]

package.json  command
"stylelint './sr/**/*.{js, ts, tsx}' --formatter verbose"

## Steps to reproduce
1. fresh norma

[2018-10-11 14:40] chinesedfan commented on #234
@lonyele Did you write a wrong glob pattern, './sr/**/*.{js, ts, tsx}'? Usually, you source files may locate in `src`.

[2018-10-11 16:11] lonyele commented on #234
Oh, sorry that's a typo. My project is using this one  "stylelint './src/**/*.{js, ts, tsx}' --formatter verbose"

[2018-10-12 13:57] chinesedfan commented on #232
Hey guys, I created #235 and can you have a try locally?

[2018-10-12 22:54] lonyele commented on #234
@chinesedfan Yeah that's right. That is the weird part I think...    I cannot make it check any source. I've tested with any js, ts, tsx and also I tested with directly reference component something like `./src/components/MyComonents.tsx'
  If It doesn't bother you, can you git clone my repo that can reproduce this problem and check what has been done wrong?   here is the repo https://github.com/l

[2018-10-13 04:19] chinesedfan commented on #234
@lonyele I didn't find  an offical glob specification, but if changed the pattern without inner spaces, it works.

[code]

[2018-10-13 14:32] lonyele commented on #234
I git clone it again and failed again...   It seems like there are no similar issues opened/closed. Probably something is wrong with my usage...     Thank you for checking it

[2018-10-14 03:46] chinesedfan commented on #234
@lonyele In fact, after cloned your test repository without any changes, I can see 1 source(src/setupTests.js) is checked. And if changed like my previous comment, 9 sources will be checked.

If something like "npx stylelint test.js --formatter verbose" in your side still returns "0 source checked", that is really weird. Maybe you can clone your repository in another computer, or ask another frien

[2018-10-14 03:46] #234 closed

[2018-10-14 09:52] lonyele commented on #234
Just the follow-up. I tested at new environment(Ubuntu) and It works fine...    something has been messed up with my laptop

[2018-11-05 08:36] dimitriirybakov opened #239 "Typescript generic fails on stylelint"
## Reproduction
This code fails on stylelint (Unexpected token):
[code]

Full project example: https://codesandbox.io/s/8x04xo57j9

## Steps to reproduce
Try `npm run lint-css` in project above

[2018-11-05 10:08] chinesedfan commented on #239
Interesting. Sorry, I am not a typescript expert. But babylon7 really throws an error,
https://astexplorer.net/#/gist/79570dfb2320966c7349c346f7002102/4c414aad62f0b8415a7747896712fb444dae699d.

[2018-11-11 19:56] danbruegge opened #240 "Unexpected token, expected ";""
## Environment
GatsbyJs starter. https://github.com/danbruegge/gatsby-starter-default-extended

All configs are included.

## Reproduction
Install version `1.3.2` and upgrade to `1.4.0` or `1.5.0`.

## Expected Behavior
No `Unexpected token, expected ";"` errors.

## Actual Behavior
[code]

[2018-11-12 02:53] chinesedfan commented on #240
@danbruegge Which command did you run? It seems that lots of files are linted, besides normal js/jsx files.

[2018-11-12 03:39] stevemao commented on #240
I don't see any useful information here. Why are you linting your `map` and `json` files?

[2018-11-12 07:15] danbruegge commented on #240
@chinesedfan i run `yarn start` which maps to `gatsby develop`.

@stevemao before version 1.4.0 it was linting normally. So i assume that this has something to do with `stylelint-processor-styled-components`. Sadly the errors are quite meaningless. So i don't know where to start finding the root problem. Thats why i asking here.

[2018-11-12 15:03] chinesedfan commented on #240
Solved in https://github.com/danbruegge/gatsby-plugin-stylelint/issues/2.

[2018-11-12 15:03] #240 closed

[2018-11-12 15:05] danbruegge commented on #240
Sadly not solved. I checked this already and it is not the cause of the problem.

[2018-11-12 15:08] chinesedfan commented on #240
@danbruegge Have you changed the default config of your gatsby-plugin-stylelint, just as I commented? I can run `yarn start` without errors.

[2018-11-12 15:37] danbruegge commented on #240
Ah. Checked with the wrong regex. Sorry my bad.

[2018-11-16 10:06] chinesedfan commented on #176
@mattyfresh If I didn't mistake your problem, setting `options.moduleName` can solve it. Refer to https://www.styled-components.com/docs/tooling#usage-with-other-libraries.

[2018-11-16 10:06] #176 closed

[2018-11-16 10:15] chinesedfan commented on #239
Confirmed that's a problem of babel, https://github.com/babel/babel/issues/7742.

[2018-11-18 04:38] #232 closed

[2018-12-16 20:34] rtymchyk commented on #228
I am on latest version of this package, as well as babel, but I am still receiving this error. Any ideas as to why that might be the case?

[2018-12-17 11:06] chinesedfan commented on #228
@rtymchyk Have you changed your configurations like this? If still met this problem, feel free to open a new issue with detailed environments information.

[2018-12-17 13:54] rtymchyk commented on #228
@chinesedfan Sorry, I misread. I thought the PR was including this as a plugin already. Working fine now, but definitely would be great to utilize the central Babel config instead of this.

[2019-01-07 20:30] TrevorBurnham opened #244 "Distinguish helpers/mixins from component styles"
I'm trying to write an in-house stylelint rule that we want to apply to mixins, e.g.

[code]

but not to styled components, e.g.

[code]

Basically I want to access the result of `isHelper()` from within a stylelint rule. One way I could imagine this being implemented is to add [another map](https://github.com/styled-components/stylelint-processor-styled-components/blob/98264dab2f53c977363f6d0b295

[2019-01-15 12:51] mxstbr commented on #227
I'm sorry for the troubles, this is 100% my bad—I joined GitHub as an employee, and in the process of joining they revoked all my OAuth tokens for security reasons!

I have re-authenticated with Coveralls, so it should be work again. Can you confirm?

[2019-01-15 13:38] chinesedfan commented on #227
@mxstbr It works now! And congratulations to you!

[2019-01-15 13:38] #227 closed

[2019-01-25 21:58] mcmillion opened #246 "Linting (and blowing up) on component that isn't a styled component"
I'm assuming this is related to the fact that `stylelint-processor-styled-components` uses its own Babel config and we're using `transform-object-rest-spread` in our project.  I've read through the issues regarding configuring this project's Babel options, but I don't think that helps me here. Furthermore, I can't find a way to temporarily ignore this file other than adding it explicitly to `ignor

[2019-01-26 09:46] chinesedfan commented on #246
Hi, can your project parse the file correctly, without linting? It seems that even with `transform-object-rest-spread`, babel will throw an error. See [my test](https://astexplorer.net/#/gist/c2b5dfc8e5787c241a5deb443094153f/abcc996fb7ed657bf4bc1a13487f8e5032303012).

If removing the default value, it is OK. Both in babel and our processor. So I think it is due to syntax.

[code]

[2019-01-30 09:01] ZaynJarvis opened #247 "Not recognising infinity as valid keyword"
## Environment

`npx envinfo --system --binaries --npmPackages stylelint,styled-components,stylelint-processor-styled-components,stylelint-config-styled-components,stylelint-config-recommended --markdown --clipboard`

## System:
 - OS: macOS 10.14.2
 - CPU: (4) x64 Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz
 - Memory: 227.27 MB / 8.00 GB
 - Shell: 3.2.57 - /bin/bash
## Binaries:
 - Node: 10.15.0 - /

[2019-01-30 15:17] ZaynJarvis commented on #247
[code]
The issue here is that stylelint cannot recognize infinite in css template string.

I try with another setup in which
[code]
which works fine.

Does this mean that styled component / (stylelint loader) cannot recognize css template string without style attribute?

[2019-01-30 15:41] ZaynJarvis commented on #247
Is there a way for style lint to know that this is an interpolation?
like
[code]
suggested in the [doc](https://www.styled-components.com/docs/tooling#interpolation-tagging)

The code is from [react-boilerplate](https://github.com/react-boilerplate/react-boilerplate).
From the doc, it doesn't show this type of interpolation. Just wanna to make sure
* if this is against the rule of using styled com

[2019-01-30 15:42] ZaynJarvis commented on #247
I tried `/* stylelint-disable */` for this issue as well. It doesn't seem to work.

[2019-01-31 14:39] chinesedfan commented on #247
I think yes. This processor will extract css from source files and send to postcss to parse. Without style attribute, it will throw an error because the extracted content is not completed css rule. Similar issues are #221, #222.

Personally, I have a tendency to treat it as a feature need to be implemented in stylelint processor. But it is not easy.

It is due to stylelint uses `/* stylelint-disab

[2019-02-17 23:41] petercpwong commented on #228
For those who stumbled upon this issue from Google and are confused, just add this to your `.stylelintrc`:

[code]

[2019-02-20 22:36] rockingskier opened #248 "Using "component selector" and "pseudo selectors" together throws "selector-type-no-unknown""
When combining a "component selector" with a pseudo selector I receive the error `Unexpected unknown type selector "-styled-mixin1" (selector-type-no-unknown)stylelint(selector-type-no-unknown)`.

[code]

[code]

[code]

## System:
 - OS: macOS 10.14.3
 - CPU: (8) x64 Intel(R) Core(TM) i7-7700HQ CPU @ 2.80GHz
 - Memory: 355.97 MB / 16.00 GB
 - Shell: 5.3 - /bin/zsh
## Binaries:
 - Node: 8.15.0 - ~

[2019-02-21 05:03] chinesedfan commented on #248
The processor can not always parse interpolations with right things. But you can use [interpolation-tagging](https://www.styled-components.com/docs/tooling#interpolation-tagging) to help it. If you have ideas to make it more intelligent, feel free to send a PR or share your solution by an new issue.

[code]

[2019-02-21 05:03] #248 closed

[2019-02-22 15:28] sarneeh opened #249 "block-no-empty false-positive"
## Environment
[code]

[code]

## Reproduction

[code]

## Expected Behavior

`DangerButton` actually has styles, but inherited from `Button`. That's why I won't expect a `block-no-empty` error here.

## Actual Behavior

Error: `block-no-empty`.

[2019-02-22 18:34] nicholaai commented on #249
+1

[2019-02-23 04:36] chinesedfan commented on #249
@sarneeh Can you try #250 locally? If it works well without regressions, I will publish a new release.

[2019-02-26 16:24] ViggoV commented on #81
I have this issue here a year and a half later, also specifically the `$dummyValue` placeholder issue though only the first of the two mentioned above. Interestingly it only occurs in one instance, whereas the pattern that seems to trigger it occurs throughout the project. It triggers on `props.active`

[code]

stylelint-processor-styled-components@1.5.1

[2019-02-27 08:14] chinesedfan commented on #81
@ViggoV The processor can not always parse interpolations with right things. But you can use [interpolation-tagging](https://www.styled-components.com/docs/tooling#interpolation-tagging) to help it. If you have ideas to make it more intelligent, feel free to send a PR or share your solution by an new issue.

[code]

[2019-02-27 13:29] ViggoV commented on #81
Interesting, thanks for the link. However my use case doesn't seem to be covered in the examples since it is a conditional rather than an interpolation of an existing css concept. `/* sc-declaration */` seems to do the trick though. :)

[2019-02-27 15:01] emilgoldsmith commented on #81
The tags are also mostly meant as an "override". So if `sc-declaration` works for you that's perfect. Otherwise there's always `sc-custom` for anything the normal ones don't cover. Tags are basically for anything we can't evaluate statically

[2019-03-01 13:46] psixdev opened #251 "CssSyntaxError for styled-components example"
## Environment
[code]

## Reproduction

I use example from this page https://www.styled-components.com/docs/faqs#what-do-i-need-to-do-to-migrate-to-v4:
[code]

## Actual Behavior
 14:31  ✖  Unknown word   CssSyntaxError

## P. S.
I can avoid the error by changing the styles like this:
[code]
But it doesn't seem like a good solution

[2019-03-01 15:12] chinesedfan commented on #251
Duplicate of #247.

[2019-03-01 15:12] #251 closed

[2019-03-01 15:15] chinesedfan commented on #247
@emilgoldsmith @mxstbr Because the processor will extract everything from css helper and try to parse. The current website [doc](https://www.styled-components.com/docs/faqs#what-do-i-need-to-do-to-migrate-to-v4) gives a not very good sample. Any ideas about the tradeoff between highlighting css helper and linting?

[2019-03-14 10:07] 43081j opened #253 "Unable to specify a specific import from a specific module"
So you provide two options:

* `moduleName`
* `importName`

Used like so:

[code]

[code]

Surely this isn't how `importName` should work. I would expect only tagged templates which use the specified import name to be parsed, rather than ALL imported names _and_ the extra styled-specific stuff.

Like this:

[code]

With this ability we could use the same component on other tagged template css libr

[2019-03-15 07:37] #246 closed

[2019-03-16 18:08] bopfer opened #254 "Unexpected token error when using backticks for all strings."
My team is trying to standardize on using backticks for all strings.  We have the eslint rule in place and overall it is working well.  But, we are having one issue with `stylelint` when using typescript types/interfaces and styled-components in the same file.  It seems as though the typescript types are either trying to be parsed as styled-components, or they are just throwing off the the process

[2019-03-18 02:37] chinesedfan commented on #254
Looks like babel can't parse this kind of grammar. You can test by https://astexplorer.net/ and file an issue to https://github.com/babel/babel.

If there has no styled-components import, the file will be skipped by this processor.

[2019-03-18 14:45] bopfer commented on #254
Thanks for the input.  It looks like it does parse properly if I choose `@typescript-eslint/parser`.  See: https://astexplorer.net/#/gist/74619c51d54659abf528e98d767bce9b/a32e2f1181b1bbdbb9d0414e13d06643a9137556

Is it possible to tell this parser to use that somehow?  Sorry if that is a dumb question.  I still need to learn more about ASTs and parsing.  Maybe that totally negates the power of the

[2019-03-19 02:18] chinesedfan commented on #254
@bopfer Sadly this processor is based on babel7. Different parsers may generate different kinds of AST, so we can't change the parser. I will keep this issue open until babel has fixed it.

[2019-03-19 09:44] fabb commented on #182
It's way easier to just define the breakpoint medias as strings rather than template functions:
[code]
This lints correctly, and also syntax highlighting in VSCode works as expected.

[2019-03-19 20:50] bopfer commented on #254
I asked about it on the Babel Slack and they confirmed that it does appear to be a bug.  I have opened up an issue over there: https://github.com/babel/babel/issues/9706

[2019-03-19 21:58] greenkeeper[bot] opened #255 "An in-range update of babel7 is breaking the build 🚨"
## There have been updates to the *babel7* monorepo:

 + - The `devDependency` [@babel/cli](https://www.npmjs.com/package/@babel/cli) was updated from `7.2.0` to `7.2.3`.
- The `devDependency` [@babel/core](https://www.npmjs.com/package/@babel/core) was updated from `7.3.4` to `7.4.0`.
- The `dependency` [@babel/parser](https://www.npmjs.com/package/@babel/parser) was updated from `7.3.4` to `7.4.

[2019-03-20 18:33] pvdlg opened #256 "Cannot parse selector error with dynamic state selector"
When using a JS variable for a `hover`, `active`, `focus` selector the parser fails and throw the error `Cannot parse selector`.

## Environment

### System:
 - OS: macOS 10.14.3
 - CPU: (8) x64 Intel(R) Core(TM) i7-7820HQ CPU @ 2.90GHz
 - Memory: 237.40 MB / 16.00 GB
 - Shell: 3.2.57 - /bin/bash
### Binaries:
 - Node: 11.4.0 - /usr/local/bin/node
 - Yarn: 1.12.3 - /usr/local/bin/yarn
 - npm: 6.7.

[2019-03-21 02:37] #192 closed

[2019-03-21 03:26] chinesedfan commented on #255
Fixed by #257.

[2019-03-21 03:26] #255 closed

[2019-03-21 03:33] chinesedfan commented on #256
The processor can not always parse interpolations with right things. But you can use [interpolation-tagging](https://www.styled-components.com/docs/tooling#interpolation-tagging) to help it. If you have ideas to make it more intelligent, feel free to send a PR or share your solution by an new issue.

[code]

[2019-03-21 03:33] #256 closed

[2019-03-21 03:38] chinesedfan commented on #253
Agree with your feature request. But `importName` is there. We have use another option name or try to enhance it. Like single string means the old usage, and an array is used to provide names whitelist.

[2019-03-21 03:42] chinesedfan commented on #244
It shares part of #253. And I don't think another processor should depend on this processor to parse helper names. Maybe a common util package is better.

[2019-03-26 10:51] moimael opened #259 "Stylelint throws on ts/tsx files not using styled-components"
## Environment

[code]

.stylelintrc
[code]

## Reproduction
Stylelint throws errors on Ts/Tsx files that don't use or import styled-components.

![stylelint-errors](https://user-images.githubusercontent.com/1479859/54991419-377f1780-4fbd-11e9-970e-68cbc954f29b.png)

An example of one of the file that throws (the `use-experiment.ts`):

[code]

## Steps to reproduce
Not sure, just ran stylelint in

[2019-03-26 15:21] chinesedfan commented on #259
You can custom plugins by `option.parserPlugins` now. An example is https://github.com/styled-components/stylelint-processor-styled-components/blob/master/test/options.test.js#L211. If disabled the jsx plugin, `use-experiment.ts` can be parsed successfully.

Of course, if someone can implement #231, that is much better.

[2019-03-26 15:21] #253 closed

[2019-03-26 15:30] #249 closed

[2019-03-27 00:31] #222 closed

[2019-03-27 00:31] #221 closed

[2019-03-27 00:38] chinesedfan opened #262 "Specify some tagged template literal to not be parsed"
Every case of specified imported can be skipped by #258. If only 1 or part of them, we should support ignore comments like `stylelint-disable`.

[2019-03-27 00:39] chinesedfan commented on #247
With #258, we can skip parsing css helper. But if users want to only ignore part of them, let's track in #262.

[2019-03-27 00:39] #247 closed

[2019-04-02 01:18] TrevorBurnham commented on #244
@chinesedfan I like the approach in #258, but for that to be a solution here I'd need to be able to map different rules to different `moduleName`/`importName` settings. E.g. I want most rules to apply to all style blocks, but I want one rule to apply only to `css` blocks.

[2019-04-02 02:43] chinesedfan commented on #244
@TrevorBurnham I mistook your in-house rule as `another processor`. But the conclusion is the same. You'd better distinguish helpers/mixins by your rule itself, instead of depending on this processor.

[2019-04-02 02:53] TrevorBurnham commented on #244
That's just the problem: As far as I can tell, there's no way for my rule to distinguish between helpers and mixins. Can you think of a way?

[2019-04-02 03:02] chinesedfan commented on #244
I am afraid not. Because rules have no information about the original codes.

[code]

On the other side, your problem seems not to be an issue belongs to this processor.

[2019-04-03 03:00] #259 closed

[2019-04-03 18:41] bopfer commented on #254
This has been fixed as of Babel 7.4.3.  It wasn't in the release notes, but the issue's PR was merged to master before the release.

[2019-04-04 02:19] chinesedfan commented on #254
Thanks for your feedback.

[2019-04-04 02:19] #254 closed

[2019-04-18 11:00] WebTravel commented on #50
https://github.com/stylelint/stylelint/pull/3261

[2019-04-18 11:03] WebTravel opened #264 "Autofix stylelint doesn't work"
Hi. I try to find solution for `stylelint --fix`
I know this problem solved team of stylelint here: https://github.com/stylelint/stylelint/pull/3261

Hovewer, I can't use `stylelint --fix` yet.

My `.stylelintrc`:
[code]
My `package.json`

[code]

And when I run `yarn stylelint` command I see next message:

**Autofix is incompatible with processors and will be disabled. Are you sure you need a pro

[2019-04-19 09:50] chinesedfan commented on #264
@WebTravel Sadly it is not the final result. This feature has been canceled in [stylelint@9.10.0](https://github.com/stylelint/stylelint/blob/master/CHANGELOG.md#9100).

[2019-04-19 09:50] #264 closed

[2019-04-20 16:24] WebTravel commented on #264
Ok. Thanks for this information. It's bad news for me.

[2019-05-02 12:04] schoenwaldnils commented on #187
Any updates on this?
It would be nice to have the `ignoreFiles` option in this processor 🤔
Like this:
[code]

[2019-05-02 17:53] emilgoldsmith commented on #187
Not as far as I know. Feel free to implement it, shouldn't take long

[2019-05-09 17:00] alexandernanberg opened #265 "Release a new version with stylelint 10 changes"
As the title says. Would it be possible to publish a new release with the stylelint upgrade? It's currently blocking me from upgrading.

Is there anything I can help out with?

[2019-05-10 09:35] chinesedfan commented on #265
Done with v1.7.0. Sorry for the lazy release.

[2019-05-10 09:35] #265 closed

[2019-05-10 11:16] alexandernanberg commented on #265
Thanks, no problem! 😄

[2019-05-11 20:53] beausmith commented on #187
Thanks for the sample code solution @brandonkal!

[2019-05-22 14:28] schoenwaldnils commented on #187
I added a PR for the `ignoreFiles` option https://github.com/styled-components/stylelint-processor-styled-components/pull/267

@emilgoldsmith I'd be happy if you could review it

[2019-05-23 21:16] shanedaugherty opened #268 "Using other styled components in selectors not working"
Having some issues with the component-selector feature (using other styled-components as selectors)

I created this git repo where the issue can be reproduced:
https://github.com/shanedaugherty/styled-components-issue

Pull down, and run `npm run lint`

If you can get this to pass, I will buy you a cookie

[2019-05-23 21:40] #268 closed

[2019-05-23 21:41] shanedaugherty commented on #268
False alarm, using `stylelint-config-recommended` fixed most of the issues.

I did have to add this, I'll let you guys decide if there is an issue here still.

[code]

[2019-05-24 03:02] chinesedfan commented on #268
FYI #248. And your workaround looks good.

[2019-05-27 13:53] chinesedfan commented on #187
@schoenwaldnils Thank you! v1.8.0 released.

[2019-05-27 13:53] #187 closed

[2019-05-28 09:03] njdancer opened #270 "Add support for css prop"
Styled components now supports the css prop via a babel plugin. Currently these blocks are not detected by this processor preventing inline css from being linted. Would be great if these blocks could be forwarded to stylelint.

Couldn't find any other discussions for this and I'm not sure what else to provide. If someone could point me in the right direction I may be able to write a patch

[2019-05-28 11:39] chinesedfan commented on #270
@njdancer Could you please explain a little more about it? Some codes are better. Sorry I didn't catch your idea.

[2019-05-29 20:28] mribichich commented on #27
I ended up using the `stylelint.config.js` option to solve the problem, it solves it for the `cmd` and `vscode`:

[code]

[2019-05-30 02:36] chinesedfan commented on #27
Recently, we released v1.8.0(#267) which supports the option `ignoreFiles` to make the processor skip some files. Maybe it can help.

[2019-06-15 08:50] nhooyr commented on #270
https://medium.com/styled-components/announcing-native-support-for-the-css-prop-in-styled-components-245ca5252feb

[2019-06-22 01:04] chinesedfan commented on #270
OK. So this feature should be being able to lint inline css props like following. I know our processor can not lint `h1/div`, but `Button` should have been detected. Right?

@nhooyr The key point is how to extract css content. We can extend the logic in `src/parsers/index.js`. When visiting an AST node that is a css prop of a component, try to save its value into `extractedCSS`.

[code]

[2019-07-02 14:07] dguay commented on #268
I have a similar issue with this example:

[code]

The following error is on `${defaultButtonStyle}`:

[code]

- I've tried adding the config from this @shanedaugherty with no success.
- I've tried changing the line to `${/* sc-selector */defaultButtonStyle};` but then I get this error: `  Unknown word   CssSyntaxError`

Stylelint related installed packages:

- "stylelint": "^10.1.0"
- "stylelint-

[2019-07-02 14:19] chinesedfan commented on #268
@dguay You can config your stylelint rule as,

[code]

[2019-07-02 14:26] dguay commented on #268
@chinesedfan I tried this as well and still have the same stylelint error.

[2019-07-02 14:41] dguay commented on #268
@chinesedfan Ok so the problem was `checkedPrefixed` stylelint option.

This works:

[code]

This does not:

[code]

[2019-07-02 15:04] chinesedfan commented on #268
@dguay You need write options in the same object.
[code]

[2019-07-02 15:18] dguay commented on #268
@chinesedfan Oh damn you're right ! Thanks !

[2019-07-09 14:04] dawidk92 commented on #201
Any updates about it?

[2019-07-10 14:31] nosilleg commented on #201
@dawidk92 This is not a bug.  The linter is correctly telling you that `a:hover` has a higher specificity than `a`.

In your code you plan to never make `.selector2 > a` and `.selector1 > a` be the same `a`.  However, there is no way for the linter to know this, and since they _could_ be the same `a`, you get an error.

You could try `.selector2:not(.selector1) > a` and I'm guessing that would wor

[2019-07-10 14:48] dawidk92 commented on #201
@nosilleg thank you for your response!
That's a shame that the linter doesn't know that these are two different components.

Besides that, I think that It's a much better solution to use `/* stylelint-disable-next-line no-descending-specificity */` instead.

[2019-07-10 18:46] nosilleg commented on #201
@dawidk92 I agree about disabling the rule for most of the times I've seen this reported.

Another thought, are you willing/able to put a globally unique class (per component) on every child `a` of that component.  That would also solve your issue.

e.g.
[code]

[2019-07-15 12:52] jroebu14 opened #271 "Remove or rename invalid CSS properties caused by using mixins"
Is it possible to prevent outputting invalid CSS properties that would fail a CSS syntax validation plugin such as [csstree/stylelint-validator](https://github.com/csstree/stylelint-validator).

An example of this would be when using a mixin:

[code]

which the processor outputs

[code]

[code]

[2019-07-15 20:39] leoyli commented on #271
Yes, I have also received this `selector-type-no-unknown` error...

[2019-07-20 17:35] chinesedfan commented on #271
@jroebu14 Thanks for your suggestions. Sorry we didn't find a perfect solution. Comments may also introduce comment-related false-positive errors. Adding one more dash can't solve the problem from the root, either. And it can also break something like @leoyli's workaround.

Currently, @leoyli's workaround is one of the best ideas .

[2019-07-27 16:34] leoyli commented on #271
@chinesedfan, can be considered to add my workaround into the recommended setup? I mean people using it expect it can also take care about all valid use case.

[2019-07-30 08:28] jroebu14 commented on #271
@leoyli @chinesedfan thanks for responding to my issue. Leoyli's is a good solution but unfortunately it won't work in our specific case where we're also using the [csstree/stylelint-validator](https://github.com/csstree/stylelint-validator) plugin. This plugin has it's own ignore option which doesn't support regular expressions. I have [suggested this functionality in csstree/stylelint-validator]

[2019-08-06 10:10] d7my11 opened #273 "Variables start with $ don't throw errors"
`stylelint-processor-styled-components` ignores variables start with `$`

## Reproduction

https://codesandbox.io/embed/styled-components-3tmvb

## Steps to reproduce

- declare a variable starting with `$`
- assign this variable to a property without `${ }`

[code]

[code]

## Expected Behavior

should throw error for invalid value

## Actual Behavior

it passes

## Environment

`npx envinfo --sy

[2019-08-08 08:40] chinesedfan commented on #273
I didn't find any stylelint rules that would check the value. If you know, please tell me.

Your error should be thrown by `csstree/stylelint-validator`. As `$var` is valid in sass syntax, see [codes of csstree/stylelint-validator](https://github.com/csstree/stylelint-validator/blob/master/syntax-extension/index.js#L40), it will not throw an error for a variable starting with $.

Maybe your test f

[2019-08-08 08:40] #273 closed

[2019-08-08 08:52] #209 closed

[2019-08-08 09:08] d7my11 commented on #273
@chinesedfan thank you for your response

[2019-08-14 20:25] dementor5 commented on #187
You must add this to documentation.

[2019-08-20 10:35] fabb opened #274 "Upgrade outdated "@babel/parser" dependency"
This lib still depends on old versions of the @babel/parser and @babel/traverse. This makes this plugin incompatible with newer typescript syntax.

[code]

https://github.com/styled-components/stylelint-processor-styled-components/blob/master/package.json#L64,L65

For example when using `as const` TypeScript syntax this causes a problem:

[code]

[code]

The fix is to update these dependencies to

[2019-08-20 11:58] fabb commented on #83
Maybe related: #274

[2019-08-20 13:53] chinesedfan commented on #274
Those dependencies are specified with caret ranges. So the latest 7.x versions can be installed. If you have `yarn.lock` or `package-lock.json` in your project, please remove related babel entries and reinstall.

[2019-08-20 13:53] #274 closed

[2019-08-20 15:03] fabb commented on #274
Ah ok thanks. I always get confused by the caret versioning...

[2019-08-21 07:27] fabb commented on #274
since it took me quite some time to track down the reason for the syntax error while linting, maybe add some info to the readme?
=> #276

[2019-08-28 12:17] igoldny opened #277 "Add Support for Object Syntax"
As of [v3.3.0 styled-components released object syntax](https://spectrum.chat/styled-components/general/v3-3-0-is-out-with-first-class-object-support~2b5fd935-fb1d-480d-a524-95ecd540a1ac) which is also supported by emotion and styletron.

styled:
[code]

css prop:
[code]

[2019-08-28 12:53] kud commented on #156
I'm not sure to undersand everything.

I've got this:

[code]

and due to my JS comment, I've got a CssSyntaxError. What should I do? Just adding the syntax: scss? Sounds to be a strong solution of just this...?

[2019-08-28 12:55] evilebottnawi opened #278 "Deprecated package"
Stylelint support css-in-js out of box, so no need use this plugin, will be great deprecate this

[2019-08-28 13:35] chinesedfan commented on #278
@evilebottnawi Can you provide more details about it? Is it due to some new features introduced by the latest stylelint?

[2019-08-28 13:36] evilebottnawi commented on #278
@chinesedfan it is built-in feature since 10 version https://github.com/stylelint/stylelint#features

[2019-08-28 13:50] chinesedfan commented on #278
@evilebottnawi Looks good. Thanks for your information. I will play it more before giving a final decision. (cc @emilgoldsmith @mxstbr)

[2019-08-28 15:13] emilgoldsmith commented on #278
Awesome to hear :)

[2019-08-29 12:31] chinesedfan commented on #278
I was out of the world of `stylelint` too long. According to stylelint's [CHANGLOG](https://github.com/stylelint/stylelint/blob/master/CHANGELOG.md),

- v9.4, introduced `syntax: styled` to support css-in-js, which was based on [postcss-styled](https://github.com/gucong3000/postcss-styled)
- v9.10, replaced `postcss-styled` with the more powerful [postcss-jsx](https://github.com/gucong3000/postcss

[2019-08-29 12:36] mxstbr commented on #278
I think that's a great idea

[2019-09-16 11:07] evilebottnawi commented on #278
@chinesedfan friendly ping, what is status?

[2019-09-16 12:12] chinesedfan commented on #278
@evilebottnawi I have opened [gucong3000/postcss-jsx#62](https://github.com/gucong3000/postcss-jsx/issues/62). But not sure when @gucong3000 or somebody else has time to solve them.

[2019-09-16 12:16] evilebottnawi commented on #278
Thanks!

[2019-10-22 18:40] dimitropoulos opened #282 "CSS partials cause `CssSyntaxError`"
`CssSyntaxError`s are triggered when using syntax from the styled-components docs (which, by the way, _is_ valid).

## Environment
`npx envinfo --system --binaries --npmPackages stylelint,styled-components,stylelint-processor-styled-components,stylelint-config-styled-components,stylelint-config-recommended --markdown --clipboard`
[code]

## Steps to reproduce
add code straight out of the styled-co

[2019-10-23 03:13] chinesedfan commented on #282
As explained in https://github.com/styled-components/stylelint-processor-styled-components/issues/247#issuecomment-476912656, it is really an annoying problem.

If you are not satisfied with the current workaround, feel free to share your idea in #262.

[2019-10-23 03:13] #282 closed

[2019-10-24 16:06] greenkeeper[bot] opened #283 "An in-range update of postcss is breaking the build 🚨"
## The dependency [postcss](https://github.com/postcss/postcss) was updated from `7.0.19` to `7.0.20`.

🚨 [View failing branch](https://github.com/styled-components/stylelint-processor-styled-components/compare/master...styled-components:greenkeeper%2Fpostcss-7.0.20).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

postcss

[2019-10-26 03:12] #283 closed

[2020-02-01 18:36] cpmotion opened #291 "Possible to lint styles outside styled component definition?"
Say I want to generate common styles from a function or include from a variable:

[code]

[2020-02-02 01:13] elektronik2k5 commented on #291
How would it work? How can the processor discern a template literal which is used for styling from any other?

[2020-02-02 01:31] cpmotion commented on #291
Not sure. Did just realize that, I think, replacing what I have above with the Styled css helper may solve for same result.

[code]

Haven't tested against cli yet but vscode seems to yell at me with a mistyped property. To @elektronik2k5 question about mine, one clunky way could have been some sort of comment annotation?? But, not ideal and the css helper fn may work just fine if it's doing exact

[2020-02-02 03:32] elektronik2k5 commented on #291
Yeah, I totally forgot about the `css` helper cause I don't use it. I believe that's the way to go.
This is how it looks like for me in vscode:
![image](https://user-images.githubusercontent.com/1078554/73602477-03925c80-45a7-11ea-85b7-d39a5fdc3494.png)

You can ignore the blue squiggly underline - that's the spell checker.

[2020-02-02 18:12] cpmotion commented on #291
Cool thanks for the confirm! I'll see how it goes when we automate lint via script and if there's any issues I'll reopen to discuss options.